.navbar-fixed-top {
    .navbar-inner {
        background: @grayLighter;
        background-image: none;
        .reset-filter();
        .border-radius(0);
        .box-shadow(0px 0px 18px -2px @grayLight);
        // Prevent floats from breaking the navbar
        .clearfix();
    }
}

.navbar .nav .fa {
    margin-left: -0.4em;
}
