@media (min-width: 1200px) {
    .container-fluid {
        width: 1160px;
        margin: 0 auto;
    }
}

// force the user menu to teh left when switch to drop down occurs
@media (min-width: 979px) {
    .navbar-right {
        float: right !important;
    }
}
