.block_participants {
    width: 99%;
    display:block;
}

.block_participants .course_info_one {
    float:none;
    width: 50%;
    text-justify:inter-word;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    background-color:  #f2f2f2;
    height: 25px;
    line-height: 25px;
}

.block_participants .course_info_two {
    float:none;
    width: 50%;
    text-justify:inter-word;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    height: 25px;
    line-height: 25px;
}

.block_participants label.header_course {
    width: 50%;
    text-align: left;
    display:inline-block;
    color:  #757474;
    font:bold 12px Verdana,Verdana Pro,sans-serif;
    text-indent: 1px;
    cursor: default;
    margin-top: 0px;
    margin-bottom: 20px;
    height: 25px;
    line-height: 25px;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.block_participants .info_course_value {
    font:12px Verdana,Verdana Pro,sans-serif;
    text-justify:inter-word;
    white-space: pre-line;
    word-break: break-all;
    padding-right: 5px;
    padding-top: 5px;
}

.block_participants .lst_participants {
    width: 100%;
    display:block;
    margin-bottom: 25px;
    margin-top: 10px;
}

.extra_lst_participants {
    width: 100%;
    display:block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.paging {
    width: 100%;
    display:block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.block_participants .lst_participants  table {
    width: 100%;
    border-collapse:collapse;
    margin-bottom: 0;
    display: table;
}

.block_participants .lst_participants tr.header_participants {
    background-color:  #f2f2f2;
    color:  #000;
    padding: 0;
    margin-bottom: 0;
    font:bold 12px Verdana,Verdana Pro,sans-serif;
    border-bottom: 2px solid #d8d8d8;
    vertical-align: middle;
    height: 30px;
}

.block_participants .lst_participants  td.user,
.block_participants .lst_participants  th.user {
    width: 17%;
    text-align: left;
    text-justify:inter-word;
    padding: 0px 10px 0px 0px;
}

.block_participants .lst_participants  .button_order {
    margin: 0px;
    padding: 0px;
    text-decoration: underline;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color:  #000;
    font:bold 12px Verdana,Verdana Pro,sans-serif;
    background-color:  #f2f2f2;
}

.block_participants .lst_participants  th.info,
.block_participants .lst_participants  td.info {
    width: 15%;
    text-align: left;
    text-justify:inter-word;
    padding: 0px 10px 0px 0px;
}

.block_participants .lst_participants  th.muni,
.block_participants .lst_participants  td.muni {
    width: 20%;
    text-align: left;
    text-justify:inter-word;
    padding: 0px 10px 0px 0px;
}

.block_participants .lst_participants  th.sector,
.block_participants .lst_participants  td.sector {
    width: 25%;
    text-align: left;
    text-justify:inter-word;
    padding: 0px 10px 0px 0px;
}


.block_participants .lst_participants  th.attend,
.block_participants .lst_participants  td.attend {
    width: 10%;
    text-align: center;
    text-justify:inter-word;
    padding: 0px 10px 0px 0px;
}

.block_participants .lst_participants  th.seats,
.block_participants .lst_participants  td.seats {
    width: 8%;
    text-align: center;
    text-justify:inter-word;
    padding: 0px 10px 0px 0px;
}

.block_participants .lst_participants  .participants_r0 {
    background-color:  #efefef;
}

.block_participants .lst_participants  .participants_r2 {
    background-color: #fafafa;
}

.div_button_participants {
    position: relative;
    float: left;
    /* Top, Right, Bottom, Left */
    margin-top: 25px;
}

.label_download {
    float: right;
    margin-right: 20px;
}

.button_participants {
    font: bold 14px Arial;
    text-decoration: none;
    background-color: #0E7B9E;
    color: white;
    padding: 8px 8px 8px 8px;
    border-top: 1px solid #0E7B9E;
    border-right: 1px solid #0E7B9E;
    border-bottom: 1px solid #0E7B9E;
    border-left: 1px solid #0E7B9E;
    display: inline-block;
    margin-right: 25px;
}


@media (max-width: 767px) {
    .block_participants,
    .block_participants .lst_participants,
    .extra_lst_participants,
    .block_participants .course_info_two,
    .block_participants .course_info_one{
        float: none;
        width: 90%;
        display: block;
        text-justify: inter-word;
        word-wrap: break-word;
    }

    .div_button_participants {
        position: relative;
        float: left;
        /* Top, Right, Bottom, Left */
        margin-top: 25px;
        margin-bottom: 15px;
    }
    /* Force table to not be like tables anymore */
    .block_participants .lst_participants  tbody, tr, th, td {
        display: block;
    }

    .block_participants .lst_participants table {
        display:block;
        background-color: white !important;
        width:100%;
        margin-top:45px;
    }

    .block_participants .lst_participants table thead tr {
        display:none;
    }


    .block_participants .lst_participants table tr {
        width: 100%;
        border: 1px solid darkgray;
        background-color: white !important;
        padding-bottom: 15px;
    }

    .block_participants .lst_participants table td {
        width:100%;
        border-top: 1px solid #f2f2f2;
    }

    .block_participants .lst_participants table td.user,
    .block_participants .lst_participants table td.info,
    .block_participants .lst_participants table td.muni,
    .block_participants .lst_participants table td.sector,
    .block_participants .lst_participants table td.attend {
        /* Behave  like a "row" */
        position: relative;
        padding-left: 50%;
        width: 40%;
        white-space: normal;
        text-align:left;
        background-color: white !important;
        display: inline-block;
        text-justify:inter-word;
        word-wrap: break-word;
    }

    .block_participants .lst_participants table td.user:before,
    .block_participants .lst_participants table td.info:before,
    .block_participants .lst_participants table td.muni:before,
    .block_participants .lst_participants table td.sector:before,
    .block_participants .lst_participants table td.attend:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 5px;
        text-align:left;
        text-justify:inter-word;
        word-wrap: break-word;
        font-weight: bold;
        background-color: white !important;
    }

    .block_participants .lst_participants table td.user:before,
    .block_participants .lst_participants table td.info:before,
    .block_participants .lst_participants table td.muni:before,
    .block_participants .lst_participants table td.sector:before,
    .block_participants .lst_participants table td.attend:before {
        content:attr(data-th);
        background-color: white !important;
        text-justify:inter-word;
        word-wrap: break-word;
        color:  #000;
        font:bold 12px Verdana,Verdana Pro,sans-serif;
    }

}

@media (min-width: 850px) and (max-width: 978px) {
    .block_participants,
    .block_participants .lst_participants,
    .block_participants .lst_participants  table,
    .block_participants .course_info_two,
    .block_participants .course_info_one {
        float: none;
        width: 100%;
        display: block;
    }
}

@media (min-width: 767px) and (max-width: 849px) {
    .block_participants,
    .block_participants .lst_participants,
    .block_participants .lst_participants  table,
    .block_participants .course_info_two,
    .block_participants .course_info_one {
        float: none;
        width: 100%;
        display: block;
    }
}