#page-local-microlearning-index label{
    cursor: auto !important;
}

.advance_set {
    position: relative;
    float: right;
    margin-top: -40px;
    margin-right: 0px;
    font: bold 13px Arial;
    text-decoration: none;
    background-color: #edf2fa;
    color: #004b93;
    padding: 8px 8px 8px 8px;
    margin-left: 20px;
}

.micro_campaign_table,
.micro_deliveries_table,
.micro_deliveries_info {
    width: 98%;
    display: block;
    clear: both;
}

.micro_deliveries_info .micro_info_table {
    width: 80%;
    display: inline-block;
    min-height: 30px;
}

.micro_info_table .info_one {
    width: 40%;
    float: left;
    font:  bold 13px Arial;
    text-align: left;
    text-justify:inter-word;
    white-space: pre-line;
    display: inline-block;
    background-color: #edf2fa;
    color: #004b93;
    margin-top: 1px;
    margin-right: 1px;
    padding-top: 10px;
    padding-right: 5px;
    min-height: 30px;
}

.micro_info_table .lnk_edit {
    width: 5%;
    float: right;
    display: inline-block;
    padding-right: 10px;
}

a.lnk_disabled {
    pointer-events: none;
    cursor: default;
}

.micro_info_table .info_two {
    width: 30%;
    float:left;
    font:  12px Arial;
    text-align: right;
    text-justify:inter-word;
    white-space: pre-line;
    display: inline-block;
    background-color: #f2f2f2;
    margin-top: 1px;
    margin-right: 1px;
    padding-top: 10px;
    padding-right: 5px;
    min-height: 30px;
}

.micro_info_table .info_three {
    width: 5%;
    font:  12px Arial;
    text-align: left;
    text-justify:inter-word;
    white-space: pre-line;
    display: inline-block;
    background-color: #edf2fa;
    margin-top: 1px;
    margin-right: 1px;
    padding-top: 10px;
    padding-right: 4px;
    padding-left: 0px;
    min-height: 30px;
}

.micro_deliveries_table .lnk_button {
    margin-right: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background: #0E7B9E;
    border: medium none;
    border-radius: 0px;
    color: white;
    /* Top, Right, Bottom, Left */
    padding: 5px 8px 5px 8px;
    display:inline-block;
}

.lnk_button:hover {
    background: none repeat scroll 0% 0% #00aef0;
}

.title_campaigns,
.title_deliveries {
    text-decoration: none;
    background-color: #edf2fa;
    display: inline-block;
    height: 10px;
}

.title_deliveries h6 {
    color: #004b93;
    /* Top, Right, Bottom, Left */
    padding: 8px 2px 5px 0px;
    margin: 0;
    line-height: 10px;
    font-weight: bold;
}

.micro_campaign_table .micro_campaign_table_row,
.micro_deliveries_table .micro_deliveries_table_row {
    width: 100%;
    display: inline-block;
    height:auto;
    padding-bottom: 5px;
}

.title_campaigns h6 {
    color: #004b93;
    /* Top, Right, Bottom, Left */
    padding: 8px 2px 5px 2px;
    margin: 0;
    text-transform: uppercase;
    line-height: 10px;
    font-weight: bold;
}

.micro_campaign_table .micro_campaign_table_row .col_one {
    width: 30%;
    float: left;
    font:  13px Arial;
    text-align: left;
    text-justify:inter-word;
    white-space: pre-line;
    display: inline-block;
    color: #004b93;
    margin-top: 5px;
    margin-right: 10px;
}

.micro_campaign_table .micro_campaign_table_row .col_two {
    width:15%;
    float:left;
    font:  13px Arial;
    text-align: left;
    display: inline-block;
    color: #004b93;
    margin-top: 5px;
    margin-right: 10px;
}

.micro_campaign_table .micro_campaign_table_row .col_three {
    width:25%;
    float:left;
    font:  13px Arial;
    text-align: left;
    display: inline-block;
    color: #004b93;
    margin-top: 5px;
    margin-left: 15px;
    text-justify: inter-word;
    word-wrap: break-word;
    white-space: pre-line;
}

.micro_campaign_table .micro_campaign_table_row .lnk_col {
    padding-right: 10px;
}


.micro_deliveries_table  .micro_deliveries_table_row .col_desc {
    width: 28%;
    float: left;
    font:  13px Arial;
    text-align: left;
    display: inline-block;
    color: #004b93;
    margin-top: 5px;
    margin-right: 5px;
}

.micro_deliveries_table .micro_deliveries_table_row .col_time {
    width: 9%;
    float: left;
    font:  13px Arial;
    text-align: left;
    display: inline-block;
    color: #004b93;
    margin-top: 5px;
    margin-right: 5px;
}

.micro_deliveries_table .micro_deliveries_table_row .col_content_desc {
    width: 28%;
    float: left;
    font:  13px Arial;
    text-align: left;
    text-justify:inter-word;
    white-space: pre-line;
    display: inline-block;
    color: #004b93;
    margin-top: 5px;
    margin-right: 5px;
}

.micro_deliveries_table .micro_deliveries_table_row .col_content_time {
    width: 9%;
    float: left;
    font:  13px Arial;
    text-align: left;
    text-justify:inter-word;
    white-space: pre-line;
    word-wrap: break-word;
    display: inline-block;
    color: #004b93;
    margin-top: 5px;
    margin-right: 5px;
}

.r0 {
    background-color:  white;
}

.r2 {
    background-color: #f2f2f2;
}

.alert_campaign {
    padding: 0;
    margin-bottom: 0px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert_text {
    display: inline-block;
}
.alert_text h6,
.alert_text h5 {
    color: red;
}


.micro_calendar_mode,
.micro_learning_users {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
    display: inline-block;
    clear:both;
}

.grp_option_calendar{
    width:90%;
    float:left;
    display: inline-block;
}

.sel_activities_left,
.sel_users_left {
    width:40%;
    float:left;
    display: inline-block;
}

.sel_activities_right,
.sel_users_right {
    width:40%;
    display: inline-block;
}

.sel_activities_buttons,
.sel_users_buttons {
    min-width:15%;
    float:left;
    display: inline-block;
    margin-right: 20px;
}

input#id_add_sel,
input#id_add_all,
input#id_remove_sel,
input#id_remove_all {
    width: 110px;
}

.sel_activities_left select,
.sel_users_left select,
.sel_activities_right select,
.sel_users_right select {
    width: 90%;
}

#fitem_id_sel_activities div.felement.fselect,
#fitem_id_susers div.felement.fselect,
#fitem_id_add_activities div.felement.fselect,
#fitem_id_ausers div.felement.fselect,
#fitem_id_add_sel div.felement.fsubmit,
#fitem_id_add_all div.felement.fsubmit,
#fitem_id_remove_sel div.felement.fsubmit,
#fitem_id_remove_all div.felement.fsubmit {
    margin-left: 5px;
}

#fitem_id_date_send div.fitemtitle,
#fitem_id_act_not_done div.fitemtitle,
#fitem_id_act_after_completion div.fitemtitle,
#fitem_id_sel_activities div.fitemtitle,
#fitem_id_susers div.fitemtitle,
#fitem_id_add_activities div.fitemtitle,
#fitem_id_ausers div.fitemtitle,
#fitem_id_add_sel div.fitemtitle,
#fitem_id_add_all div.fitemtitle,
#fitem_id_remove_sel div.fitemtitle,
#fitem_id_remove_all div.fitemtitle {
    display:none;
}

#fitem_id_users_txt div.fitemtitle,
#fitem_id_subject div.fitemtitle,
#fitem_id_body_editor div.fitemtitle {
    text-align: left;
    margin-left: 5px;
    width: 100px;
}

#fitem_id_search_sel_act div.fitemtitle,
#fitem_id_search_sel_users div.fitemtitle,
#fitem_id_search_add_act div.fitemtitle,
#fitem_id_search_add_users div.fitemtitle {
    text-align: left;
    margin-left: 5px;
    width: 70px;
}

#fitem_id_x_days div.felement.ftext,
#fitem_id_users_txt div.felement.ftextarea,
#fitem_id_subject div.felement.ftext,
#fitem_id_search_sel_act div.felement.ftext,
#fitem_id_search_sel_users div.felement.ftext,
#fitem_id_search_add_act div.felement.ftext,
#fitem_id_search_add_users div.felement.ftext {
    margin-left: 0px;
}

#fitem_id_body_editor div.felement.feditor {
    margin-left: 105px;
}

.micro_calendar_mode .activity_add_controls {
    width: 15%;
    float:left;
    margin-right: 10px;
}

.micro_calendar_mode .activity_add_controls div {
    /* Margin: Top Right Bottom Left */
    margin: 0px 5px 10px 10px;
    width: 90px;
    background-color: #0e7b9e;
    height:25px;
    padding-top: 5px;
    padding-left: 5px;
}
.micro_calendar_mode .activity_add_controls a {
    cursor:pointer;
    text-decoration: none;
    color: white;
}

#fgroup_id_grp_DateToSend .fitemtitle,
#fgroup_id_grp_XDays .fitemtitle,
#fgroup_id_grp_SelActivity .fitemtitle,
#fgroup_id_grp_AfterEnrol .fitemtitle,
#fgroup_id_grp_AfterCompletion .fitemtitle,
#fgroup_id_grp_NotDoneAfter .fitemtitle {
    display: none;
}

#fitem_id_date_send fieldset.felement.fdate_selector,
#fitem_id_date_after fieldset.felement.fdate_selector,
#fitem_id_act_not_done div.felement.fselect,
#fitem_id_act_after_completion div.felement.fselect {
    margin-left: 30px;
}

#fgroup_id_grp_XDays fieldset.felement.fgroup,
#fgroup_id_grp_DateToSend .fitemtitle,
#fgroup_id_grp_AfterEnrol fieldset.felement.fgroup,
#fgroup_id_grp_AfterCompletion fieldset.felement.fgroup,
#fgroup_id_grp_NotDoneAfter fieldset.felement.fgroup {
    margin-left: 5px;
}


#fgroup_id_grp_XDaysSelector fieldset.felement.fgroup span,
#fgroup_id_grp_NotDoneAfterDays fieldset.felement.fgroup span {
    margin-right: 15px;
    margin-left: 15px;
}
#fgroup_id_grp_XDays fieldset.felement.fgroup span,
#fgroup_id_grp_DateToSend fieldset.felement.fgroup span,
#fgroup_id_grp_AfterEnrol fieldset.felement.fgroup span {
    margin-right: 10px;
}

#fitem_id_date_after div.fitemtitle,
#fgroup_id_grp_XDaysSelector .fitemtitle,
#fgroup_id_grp_NotDoneAfterDays .fitemtitle,
#fitem_id_x_days div.fitemtitle {
    margin-left: 30px;
    text-align: left;
    width: auto;
    margin-right: 10px;
}

#fgroup_id_grp_XDaysSelector fieldset.felement.fgroup,
#fgroup_id_grp_NotDoneAfterDays fieldset.felement.fgroup,
#fgroup_id_grp_DateToSend fieldset.felement.fgroup {
    margin-left: 0px;
}

#region-main div#fitem_id_x_days label,
#region-main div#fitem_id_date_after label,
#region-main div#fgroup_id_grp_XDaysSelector label,
#region-main div#fgroup_id_grp_NotDoneAfterDays label {
    font-weight: normal;
}
#fgroup_id_grp_XDaysSelector label.accesshide,
#fgroup_id_grp_NotDoneAfterDays label.accesshide,
#fgroup_id_grp_AfterCompletion label.accesshide,
#fgroup_id_grp_AfterEnrol label.accesshide {
    display:none;
}

input#id_x_days.input_x_days,
input#id_x_days_after_enrol.input_x_days,
input#id_x_days_after_completion.input_x_days,
input#id_x_days_not_done.input_x_days {
    /* Margin: Top Right Bottom Left */
    margin: 0px 10px 0px 10px;
    width:40px;
}
div#fgroup_id_grp_XDays,
div#fgroup_id_grp_AfterCompletion,
div#fgroup_id_grp_NotDoneAfter {
    margin-top: 20px;
}

@media (max-width: 767px) {
    .sel_users_left,
    .sel_activities_left {
        float: none;
        width: 100%;
        display: block;
    }
    .sel_users_right,
    .sel_users_right {
        float: none;
        width: 100%;
        display: block;
    }

    .sel_users_buttons,
    .sel_activities_buttons {
        float: none;
        width: 100%;
        display: block;
    }

    .sel_activities_left select,
    .sel_activities_right select {
        width: 100%;
    }

    .userselector .sel_users_left select {
        width: 100%;
    }
    .userselector .sel_users_right select {
        width: 100%;
    }
}

@media (min-width: 850px) and (max-width: 978px) {
    .sel_users_left,
    .sel_activities_left {
        float: none;
        width: 100%;
        display: block;
    }
    .sel_users_right,
    .sel_users_right {
        float: none;
        width: 100%;
        display: block;
    }

    .sel_users_buttons,
    .sel_activities_buttons {
        float: none;
        width: 100%;
        display: block;
    }

    .sel_activities_left select,
    .sel_activities_right select {
        width: 100%;
    }

    .userselector .sel_users_left select {
        width: 100%;
    }
    .userselector .sel_users_right select {
        width: 100%;
    }
}

@media (min-width: 767px) and (max-width: 849px) {
    .sel_users_left,
    .sel_activities_left {
        float: none;
        width: 100%;
        display: block;
    }
    .sel_users_right,
    .sel_users_right {
        float: none;
        width: 100%;
        display: block;
    }

    .sel_users_buttons,
    .sel_activities_buttons {
        float: none;
        width: 100%;
        display: block;
    }

    .sel_activities_left select,
    .sel_activities_right select {
        width: 100%;
    }

    .userselector .sel_users_left select {
        width: 100%;
    }
    .userselector .sel_users_right select {
        width: 100%;
    }
}