<div>
    <h4>Preselect the search criteria</h4>

    <input type="text" id="tagFilter" placeholder="Type here to filter tags" title="Type here to filter tags">

    {{#taglist}}
        {{#hassubcategories}}
            <div class="group-box has-subcategories">
                <h4>{{{title}}}</h4>

                <div class="accordion" id="accordion-{{{type}}}">
                    {{#subcategories}}
                        {{> local_playground/course_search_tag_preselect_area_group }}
                    {{/subcategories}}
                </div>
            </div>
        {{/hassubcategories}}
    {{/taglist}}
</div>
