{{#tags}}
    {{#groups}}
        <fieldset class="{{{groupname}}} collapse-group">
            <h4>{{{title}}}</h4>
            {{#shown}}
                <label class="checkbox" data-type="{{{type}}}" data-group="{{{group}}}" data-name="{{{name}}}">
                    <input type="checkbox"{{#checked}} checked="checked"{{/checked}} value="">
                    {{{name}}} {{#amount}}<span class="amount">{{{.}}}</span>{{/amount}}
                </label>
            {{/shown}}
            <div class="collapse" id="viewmore{{{groupname}}}">
                {{#hidden}}
                    <label class="checkbox" data-type="{{{type}}}" data-group="{{{group}}}" data-name="{{{name}}}">
                        <input type="checkbox"{{#checked}} checked="checked"{{/checked}} value="">
                        {{{name}}} {{#amount}}<span class="amount">{{{.}}}</span>{{/amount}}
                    </label>
                {{/hidden}}
            </div>
            {{#hidden}}<a class="btn btn-link showdetails" data-toggle="collapse" data-target="#viewmore{{{groupname}}}"></a>{{/hidden}}
        </fieldset>
        {{#showdate}}
            <div class="dates">
                <h4>{{{title}}}</h4>
                <div class="input-group input-append date" data-type="course" data-group="date-from" data-name="Date from"
                     data-date="" data-date-format="dd.mm.yyyy">
                    <label for="date-from" class="lbl">From:<br>
                        <input type="hidden" id="date-from-eurodate" value=""/>
                        <input id="date-from" type="text" class="form-control">
                        <span class="add-on"><i class="icon-th"></i></span>
                    </label>
                </div>
                <div class="input-group input-append date" data-type="course" data-group="date-to" data-name="Date to"
                     data-date="" data-date-format="dd.mm.yyyy">
                    <label for="date-to" class="lbl">To:<br>
                        <input type="hidden" id="date-to-eurodate" value=""/>
                        <input id="date-to" type="text" class="form-control">
                        <span class="add-on"><i class="icon-th"></i></span>
                    </label>
                </div>
            </div>
        {{/showdate}}
    {{/groups}}
{{/tags}}
