{{#tags}}
    {{#groups}}
        {{> local_playground/course_search_region_search_groups}}
    {{/groups}}
    {{#diplayoptions}}
        {{> local_playground/course_search_region_search_displayoptions}}
    {{/diplayoptions}}
{{/tags}}
