#page-course-search #page-header {
  display: none;
}
#annotations {
  padding: 0 1em;
}
#annotations dt {
  margin-top: .5em;
}
#annotations dl {
  margin: .2em 0 1em;
}
.btn.btn-link {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  cursor: pointer;
  color: #003876;
  border-radius: 0;
}
.btn.btn-link:hover {
  color: #003876;
}
.btn.toggle-annotations {
  color: #b3c3d6;
}
.row-fluid [class*="span"]:first-of-type {
  margin-left: 0;
}
.checkbox.disabled {
  color: #999999;
}
.checkbox input[type="checkbox"] {
  margin-top: 3px;
}
.checkbox .amount {
  display: inline-block;
  float: right;
}
.light-box {
  background-color: #fff;
  padding: 1em .7em;
}
.light-box h4 {
  font-size: 1em;
}
#catalog-area {
  margin-top: 1em;
  margin-bottom: 1em;
}
#search-area {
  min-height: 10em;
}
#search-area .form-switch-display {
  border-bottom: 1px solid #ddd;
  margin-bottom: .7em;
}
#search-area #switch-display {
  margin: 0 0 .7em 0;
}
#search-area input[type="text"] {
  width: 80%;
}
#search-area .form-search > h4 {
  margin-top: 0;
}
#search-area .collapse-group {
  margin-bottom: 1em;
}
#search-area .collapse-group .btn {
  padding-left: 0;
}
#search-area .fieldset-hidden {
  display: none;
}
#search-area #course-search {
  border-radius: 0;
  margin-bottom: .5em;
  max-width: 20em;
  width: 70%;
}
@media (min-width: 768px) and (max-width: 839px) {
  #search-area #course-search {
    width: 50%;
  }
}
@media (min-width: 840px) and (max-width: 1100px) {
  #search-area #course-search {
    width: 60%;
  }
}
#search-area .course-search-btn {
  border-radius: 0;
  margin-top: 0;
  padding-top: .4em;
  padding-bottom: .25em;
  vertical-align: top;
}
#display-area .section-hidden {
  display: none;
}
#tag-area {
  padding: .1em 0 .8em;
}
#result-area {
  margin-top: 1em;
  min-height: 10em;
}
.selected-tags li {
  display: inline-block;
}
.btn-tag {
  background-color: #e8e8e8;
  border: 1px solid #cfcfcf;
  color: #333333;
}
.btn-tag [class^="icon-"] {
  margin-top: 2px;
  margin-left: .3em;
}
.in.collapse + a.btn.showdetails:after {
  content: 'Show less ...';
}
.collapse + a.btn.showdetails:after {
  content: 'Show more ...';
}
#tablist table {
  width: 100%;
}
#course-list .course-list-col-titles th {
  cursor: pointer;
}
#course-list .course-list-col-titles th.sortasc {
  background: transparent url("/pix/t/down.svg") 0 50% no-repeat;
  padding-left: 16px;
}
#course-list .course-list-col-titles th.sortdesc {
  background: transparent url("/pix/t/up.svg") 0 50% no-repeat;
  padding-left: 16px;
}
.course-list th,
.course-list td {
  padding: .2em .2em;
  vertical-align: top;
}
.course-list .c0 {
  width: 40%;
}
.course-list .c1 {
  width: 12%;
  min-width: 5em;
}
.course-list .c2 {
  width: 12%;
  min-width: 2em;
}
.course-list .c3 {
  width: 12%;
  min-width: 5em;
}
.course-list .c4 {
  width: 12%;
  max-width: 6em;
  min-width: 6em;
}
.course-list .c5 {
  width: 12%;
  max-width: 5em;
  min-width: 5em;
}
.course-list .course-tag-list {
  margin: 0;
}
.course-list .course-tag-list li {
  color: #b3b3b3;
  display: inline-block;
  padding: 0 .3em;
}
.course-list .course-list-item {
  border-top: 1px solid #ddd;
}
.course-list .course-list-item.hide-item {
  display: none;
}
.course-list .course-list-item .course-tags {
  background-color: #f7f7f8;
}
.course-list .course-list-item.odd {
  background-color: #e8edf3;
}
.course-list .course-list-item.odd .course-tags {
  background-color: #eff2f6;
}
.course-list .btn.btn-link {
  padding-left: 0;
}
.course-list.tags-hidden .course-tags {
  display: none;
}
.course-cards.unlist {
  margin: 0 -1%;
}
.course-cards .course-card-item {
  background-color: #fff;
  display: inline-block;
  margin: 0 1% 1em 1%;
  min-height: 17em;
  padding: .5em 2%;
  vertical-align: top;
  width: 27%;
}
.course-cards .course-card-item.hide-item {
  display: none;
}
.course-cards .course-card-item .course-img {
  text-align: center;
}
.course-cards .course-card-item .course-img img {
  max-height: 8em;
}
.course-cards .course-card-item .course-title {
  line-height: 1.3;
}
.course-cards .course-card-item .course-desc {
  max-height: 9em;
  overflow: hidden;
}
.course-cards .course-card-item .course-summary {
  height: 4em;
}
#page-course-search .datepicker table tr td.today {
  background: #e8edf3;
}
#page-course-search .datepicker table tr td.today.disabled {
  background: #ccc;
}
#page-course-search .datepicker table tr td.active,
#page-course-search .datepicker table tr td.active.active {
  background: #0e7b9e;
  color: #fff;
}
#tag-preselect-area .group-box .light-box {
  margin-bottom: 1em;
}
#tag-preselect-area .group-box .light-box h4 {
  margin-top: 0;
}
#tag-preselect-area .group-box .light-box h4 .btn-toggle-open {
  margin: 0;
}
#tag-preselect-area .accordion-inner .unlist {
  columns: 1em 3;
}
#tagFilter {
  background-image: url('/local/playground/coursesearch/assets/searchicon.png');
  background-position: 5px 5px;
  background-repeat: no-repeat;
  padding-left: 30px;
}
#tag-preselect-area div.group-box.has-subcategories:first-of-type {
  display: none;
}
