#page-course-search #page-navbar {
  display: none;
}
#page-course-search .row-fluid [class*="span"]:first-of-type {
  margin-left: 0;
}
#page-course-search .checkbox.disabled {
  color: #999999;
}
#page-course-search .checkbox input[type="checkbox"] {
  margin-top: 3px;
}
#page-course-search .checkbox .amount {
  display: inline-block;
  float: right;
}
#page-course-search #catalog-area {
  margin-top: 1em;
  margin-bottom: 1em;
}
#page-course-search #search-area {
  min-height: 10em;
}
#page-course-search #search-area .form-switch-display {
  border-bottom: 1px solid #ddd;
  margin-bottom: .7em;
}
#page-course-search #search-area #switch-display {
  margin: 0 0 .7em 0;
}
#page-course-search #search-area input[type="text"] {
  width: 80%;
}
#page-course-search #search-area .form-search > h4 {
  margin-top: 0;
}
#page-course-search #search-area .collapse-group {
  margin-bottom: 1em;
}
#page-course-search #search-area .collapse-group .btn {
  padding-left: 0;
}
#page-course-search #search-area .fieldset-hidden {
  display: none;
}
#page-course-search #search-area #course-search {
  border-radius: 0;
  margin-bottom: .5em;
  max-width: 20em;
  width: 70%;
}
@media (min-width: 768px) and (max-width: 839px) {
  #page-course-search #search-area #course-search {
    width: 50%;
  }
}
@media (min-width: 840px) and (max-width: 1100px) {
  #page-course-search #search-area #course-search {
    width: 60%;
  }
}
#page-course-search #search-area .course-search-btn {
  border-radius: 0;
  margin-top: 0;
  padding-top: .4em;
  padding-bottom: .25em;
  vertical-align: top;
}
#page-course-search .light-box {
  background-color: #fff;
  padding: 1em .7em;
}
#page-course-search .light-box h4 {
  font-size: 1em;
}
#page-course-search .datepicker table tr td.today {
  background: #e8edf3;
}
#page-course-search .datepicker table tr td.today.disabled {
  background: #ccc;
}
#page-course-search .datepicker table tr td.active,
#page-course-search .datepicker table tr td.active.active {
  background: #0e7b9e;
  color: #fff;
}
#page-course-search #display-area #actualCourseCountInfo {
  display: none;
}
#page-course-search #display-area .section-hidden {
  display: none;
}
#page-course-search #tag-area {
  padding: .1em 0 .8em;
}
#page-course-search .selected-tags li {
  display: inline-block;
}
#page-course-search .btn-tag {
  background-color: #e8e8e8;
  border: 1px solid #cfcfcf;
  color: #333333;
}
#page-course-search .btn-tag [class^="icon-"] {
  margin-top: 2px;
  margin-left: .3em;
}
#page-course-search #result-area {
  margin-top: 1em;
  min-height: 10em;
}
#page-course-search #tabcards {
  overflow: hidden;
}
#page-course-search #tablist table {
  width: 100%;
}
#page-course-search #course-list th,
#page-course-search #course-list td {
  padding: .2em .2em;
  vertical-align: top;
}
#page-course-search #course-list .c0 {
  width: 40%;
}
#page-course-search #course-list .c1 {
  width: 12%;
  min-width: 5em;
}
#page-course-search #course-list .c2 {
  width: 12%;
  min-width: 2em;
}
#page-course-search #course-list .c3 {
  width: 12%;
  min-width: 5em;
}
#page-course-search #course-list .c4 {
  width: 12%;
  max-width: 6em;
  min-width: 6em;
}
#page-course-search #course-list .c5 {
  width: 12%;
  max-width: 5em;
  min-width: 5em;
}
#page-course-search #course-list .course-list-col-titles th {
  cursor: pointer;
}
#page-course-search #course-list .course-list-col-titles th.sortasc {
  background: transparent url([[pix:t/down]]) 0 50% no-repeat;
  padding-left: 16px;
}
#page-course-search #course-list .course-list-col-titles th.sortdesc {
  background: transparent url([[pix:t/up]]) 0 50% no-repeat;
  padding-left: 16px;
}
#page-course-search #course-list .course-tag-list {
  margin: 0;
}
#page-course-search #course-list .course-tag-list li {
  color: #b3b3b3;
  display: inline-block;
  padding: 0 .3em;
}
#page-course-search #course-list .course-list-item {
  border-top: 1px solid #ddd;
}
#page-course-search #course-list .course-list-item.hide-item {
  display: none;
}
#page-course-search #course-list .course-list-item .course-tags {
  background-color: #f7f7f8;
}
#page-course-search #course-list .course-list-item.odd {
  background-color: #e8edf3;
}
#page-course-search #course-list .course-list-item.odd .course-tags {
  background-color: #eff2f6;
}
#page-course-search #course-list .btn.btn-link {
  padding-left: 0;
}
#page-course-search #course-list.tags-hidden .course-tags {
  display: none;
}
#page-course-search #course-cards.unlist {
  margin: 0 -1%;
}
#page-course-search #course-cards .course-card-item {
  background-color: #fff;
  display: inline-block;
  margin: 0 1% 1em 1%;
  min-height: 17em;
  padding: .5em 2%;
  vertical-align: top;
  width: 26.5%;
}
#page-course-search #course-cards .course-card-item.hide-item {
  display: none;
}
#page-course-search #course-cards .course-card-item .course-img {
  background: #f9f9f9 50% 50% no-repeat;
  background-size: cover;
  border: 1px solid #e8e8e8;
  height: 8em;
  text-align: center;
}
#page-course-search #course-cards .course-card-item .course-img img {
  max-height: 8em;
}
#page-course-search #course-cards .course-card-item .course-title {
  line-height: 1.3;
}
#page-course-search #course-cards .course-card-item .course-desc {
  max-height: 9em;
  overflow: hidden;
}
#page-course-search #course-cards .course-card-item .course-summary {
  height: 4em;
}
#page-course-search #tag-preselect-area div.group-box .has-subcategories:first-of-type {
  display: none;
}
#page-course-search #tag-preselect-area .accordion-inner .unlist {
  columns: 1em 3;
}
#page-course-search #tagFilter {
  background-image: url([[pix:local_course_search|searchicon]]);
  background-position: 5px 5px;
  background-repeat: no-repeat;
  padding-left: 30px;
}
