.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.forceLineWrap {
  word-wrap: break-word;
  max-width: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
input,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0 0 0.5em 0;
  padding: 0;
}
p {
  margin: 0 0 1em 0;
  padding: 0;
}
th,
td {
  padding: .3em;
  text-align: left;
}
ul,
ol {
  margin: 0 0 1.5em 1.5em;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
  margin-left: 2em;
}
dl {
  margin: 0 0 1.5em 0;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-left: 1.5em;
}
abbr,
acronym {
  border-bottom: 1px dotted #000;
}
address {
  margin-top: 1.5em;
  font-style: italic;
}
del {
  color: #000000;
}
blockquote {
  margin: 1.5em;
  padding-left: 1em;
}
strong {
  font-weight: bold;
}
em,
dfn {
  font-style: italic;
}
dfn {
  font-weight: bold;
}
tt {
  font: 1em monospace;
  display: block;
  margin: 1.5em 0;
  line-height: 1.5;
}
::-moz-selection {
  background: #ffc40d;
  color: black;
  text-shadow: none;
}
::selection {
  background: #ffc40d;
  color: black;
  text-shadow: none;
}
@media (min-width: 768px) and (max-width: 960px) {
  body {
    padding-top: 0;
  }
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
  #banner {
    margin-left: 20px;
  }
  #page {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 960px) {
  body {
    padding-top: 40px;
  }
  .navbar-fixed-top {
    margin-bottom: 0;
  }
  #banner {
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  body {
    padding-top: 0;
  }
  #banner {
    margin-left: 20px;
  }
  #page-header {
    display: none;
  }
}
@media (max-width: 960px) {
  body {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: -20px;
    margin-right: -20px;
  }
  #page-header {
    margin-left: -20px;
    margin-right: -20px;
  }
  #banner {
    margin-left: 20px;
  }
  .navbar-fixed-top {
    margin-bottom: 0;
  }
}
@media (min-width: 960px) and (max-width: 978px) {
  body {
    padding-top: 0;
  }
  .navbar-fixed-top {
    margin-bottom: 0;
  }
  #banner {
    margin-left: 20px;
  }
}
.block {
  background: #ffffff;
  border: 0;
  box-shadow: 0 0 2px #d9d8d8;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.block a {
  color: #666666;
}
.block .header {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}
.block .header .title h2 {
  color: #b20000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  padding-top: 0;
  text-transform: none;
  margin: 0;
  padding: 2px 0 5px 10px;
}
.block .content hr {
  background: #d9d8d8;
  border: #d9d8d8;
}
#block-region-side-pre .block,
#block-region-side-post .block {
  background: #d9d8d8;
}
.block_myprofile .myprofileitem.fullname {
  font-size: 1.2em;
}
/* To make the course titles have more space on the frontage
Courses and categories lists, from Mary Evans
----------------------------*/
.coursebox .content .summary,
.coursebox .content .coursecat {
  width: 100%;
  float: left;
}
.coursebox > .info > .name {
  width: auto;
}
.coursebox .content .teachers,
.coursebox .content .courseimage,
.coursebox .content .coursefile {
  width: 100%;
}
#page-course-index-category .generalbox.info {
  margin: 1em 0;
  padding: 0 5px;
}
.section.main h3.section-title {
  color: #666666;
  font-size: 1em;
  line-height: 1.2;
}
h3.coursename,
h3.categoryname {
  font-size: 1em;
  line-height: 1.2;
}
h3.coursename a,
h3.categoryname a {
  color: #666666;
}
#site-news-forum h2,
#frontpage-course-list h2,
#frontpage-category-names h2,
#frontpage-category-combo h2,
h3.sectionname {
  color: #b20000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  padding-top: 0.5em;
}
#page-site-index div[role="main"] > div {
  background-color: #ffffff;
  padding: .5em 1em;
}
.course-content ul.topics,
.course-content ul.weeks {
  background-color: #ffffff;
}
.course-content > .completionprogress {
  margin: .5em 1em 0 0;
}
.section .label .mod-indent-outer {
  padding-left: 0;
}
.editing .section .label .mod-indent-outer {
  padding-left: 24px;
}
#page-course-edit div[role="main"],
#page-course-index-category div[role="main"],
#page-course-index div[role="main"],
.pagelayout-admin div[role="main"],
.pagelayout-report div[role="main"],
.path-mod div[role="main"] {
  background-color: #ffffff;
  padding: .5em 1em;
}
#page-course-edit div[role="main"] > h2,
#page-course-index-category div[role="main"] > h2,
#page-course-index div[role="main"] > h2,
.pagelayout-admin div[role="main"] > h2,
.pagelayout-report div[role="main"] > h2,
.path-mod div[role="main"] > h2 {
  color: #b20000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17.5px;
  font-weight: bold;
  line-height: 1.2;
  padding-top: 0.5em;
}
#page-admin-index #page-header h1 {
  color: #b20000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17.5px;
  font-weight: bold;
  line-height: 1.2;
  padding-top: 0.5em;
  padding: .5em 1em;
}
#page-admin-index div[role="main"] {
  background-color: #ffffff;
  padding: .5em 1em;
}
#page-admin-index div[role="main"] h2 {
  color: #b20000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17.5px;
  font-weight: bold;
  line-height: 1.2;
  padding-top: 0.5em;
}
#page-course-management div[role="main"] {
  background-color: #ffffff;
  padding: .5em 1em;
}
#page-course-management div[role="main"] .coursecat-management-header h2 {
  color: #b20000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17.5px;
  font-weight: bold;
  line-height: 1.2;
  padding-top: 0.5em;
}
#page-course-management div[role="main"] #course-category-listings h3 {
  color: #b20000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17.5px;
  font-weight: bold;
  line-height: 1.2;
  padding-top: 0.5em;
}
.container-fluid {
  max-width: 961px;
}
body {
  background-color: #edeceb;
}
a {
  color: #666666;
}
#page-site-index #page-header {
  margin-bottom: 15px;
}
#page-header {
  background-color: #ffffff;
  background-image: none;
  border-bottom: 1px solid #d1d1d1;
}
#banner {
  background-image: url([[pix:theme|sos_logo_v2]]);
  background-position: 10px 50%;
  background-repeat: no-repeat;
  height: 80px;
  max-width: 961px;
  overflow: hidden;
}
#page-navbar {
  background-image: none;
  border-bottom: 0;
  height: auto;
  min-height: 40px;
  margin-top: 5px;
  margin-bottom: 0;
  width: 100%;
}
#page-navbar .page-navbar-inner {
  margin: 0 auto;
  max-width: 961px;
  overflow: hidden;
  position: relative;
}
.navbar nav .btn-navbar:hover,
.navbar nav .btn-navbar:focus,
.navbar nav .btn-navbar:active,
.navbar nav .btn-navbar.active,
.navbar nav .btn-navbar.disabled,
.navbar nav .btn-navbar[disabled] {
  background-color: #edeceb;
}
.breadcrumb {
  background-color: transparent;
  color: #b20000;
}
.breadcrumb a {
  color: #b20000;
}
.breadcrumb-button .singlebutton input[type="submit"] {
  margin: 0;
}
#page-footer {
  background-color: #b20000;
  border-top: 20px solid #ff0016;
  color: #ffffff;
  padding-bottom: 2.5em;
  text-align: left;
  width: 100%;
}
#page-footer p {
  color: #ffffff;
}
#page-footer .logininfo,
#page-footer a {
  color: #ffffff;
}
#page-footer #page-footer-inner {
  margin: 0 auto;
  padding: 0 2%;
  max-width: 961px;
  position: relative;
}
#page-footer .column0 {
  width: 30%;
  float: left;
  min-width: 120px;
  padding: 20px;
}
#page-footer .column1 {
  padding-top: 10px;
  font-size: 0.8em;
  text-align: left;
  width: 50%;
  float: left;
  min-width: 150px;
}
#page-footer .column4 {
  padding-top: 10px;
  width: 25%;
  float: right;
  min-width: 150px;
}
#page-footer h4 {
  text-align: left;
  font-size: 1em;
  width: 90%;
}
#page-footer .sitelink img {
  margin-top: .3em;
  width: 35%;
}
#page-footer .validators,
#page-footer .purgecaches,
#page-footer .performanceinfo {
  text-align: left;
}
.path-admin #region-main div[role="main"],
.pagelayout-report #region-main div[role="main"] {
  display: inline-table;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  background-image: none;
  background-color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar-fixed-top .navbar-inner a,
.navbar-static-top .navbar-inner a {
  color: #b20000;
}
.navbar-fixed-top .navbar-inner a.brand,
.navbar-static-top .navbar-inner a.brand {
  width: 80px;
  margin-left: 0;
}
.navbar .navbar-inner a .navbar .btn-navbar {
  color: #ffffff;
  text-shadow: none;
  background-color: #b20000;
  background-image: none;
  background-repeat: repeat-x;
  border-color: #b20000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #e50000;
}
fieldset {
  min-width: 1%;
}
input,
textarea,
.uneditable-input {
  width: 180px;
}
.settingsform h2 {
  color: #b20000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  padding-top: 0.5em;
}
.mform fieldset.collapsible legend a.fheader {
  margin-left: -16px;
}
.form-item .form-setting .form-password .unmask,
.form-item .form-setting .form-defaultinfo {
  word-wrap: break-word;
  max-width: 100%;
}
.form-item .form-setting .form-password .unmask,
.form-item .form-setting .form-defaultinfo {
  word-wrap: break-word;
  max-width: 100%;
}
.form-item .form-description,
.form-item .form-description p {
  word-wrap: break-word;
  max-width: 100%;
}
textarea[cols],
input[size] {
  width: 90%;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  max-width: 100%;
}
