input[type="button"].entercoursenowbutton {
  	background-color: #00a85a;
    background-image: linear-gradient(to bottom, #00a870, #00a838);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

div.enrol_waitinglist_listbuttons {
	display: block;
	/*float: left;*/
}
.enrol_waitinglist_listbuttons input[type="submit"]{
	width: 400px;
	/*float: left;*/
}

div.enrol_waitinglist_actionbuttons {
	display: flex;
	float: right;
}

tr.enrol_waitinglist_lastrow td {
	border-bottom: 1px solid #ddd;
}
.lbl_warning h5 {
    color:black;
}

.block_approval {
    width: 90%;
    display:block;
}

.block_approval .block_requests {
    width: 100%;
    display:block;
    margin-bottom: 25px;
    margin-top: 10px;
}

.block_approval label.header_course {
    width: 95%;
    text-align: left;
    display:inline-block;
    color:  #757474;
    font:bold 12px Verdana,Verdana Pro,sans-serif;
    text-indent: 1px;
    cursor: default;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 25px;
    line-height: 25px;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.block_approval label.label_approval_course {
    font:bold 12px Verdana,Verdana Pro,sans-serif;
    cursor: default;
    text-justify:inter-word;
    white-space: pre-line;
    word-break: break-all;
    display: block;
    padding-right: 5px;
    width: 95%;
}

.block_approval .approval_course_value {
    font:12px Verdana,Verdana Pro,sans-serif;
    text-justify:inter-word;
    white-space: pre-line;
    word-break: break-all;
    padding-right: 5px;
    display: block;
    text-align: left;
}

.block_approval .to_right {
    text-align: right;
}

.block_approval .block_basic_info {
    width: 40%;
    display:block;
    min-height: 18px;
    line-height: 8px;
    padding-top: 2px;
}

.block_approval .approval_r0 {
    background-color:  #efefef;
}

.block_approval .approval_r2 {
    background-color: #fafafa;
}

.block_approval .block_requests table {
    width: 100%;
    border-collapse:collapse;
    margin-bottom: 0;
    display: table;
}

.block_approval .block_requests tr.header_approval {
    background-color:  #f2f2f2;
    color:  #000;
    padding: 0;
    margin-bottom: 0;
    font:bold 12px Verdana,Verdana Pro,sans-serif;
    border-bottom: 2px solid #d8d8d8;
    vertical-align: middle;
    height: 30px;
}

.block_approval .block_requests td.user,
.block_approval .block_requests th.user {
    width: 20%;
    text-align: left;
    text-justify:inter-word;
    padding: 0px 10px 0px 0px;
}

.block_approval .block_requests th.info,
.block_approval .block_requests td.info {
    width: 15%;
    text-align: left;
    text-justify:inter-word;
    padding: 0px 10px 0px 0px;
}

.block_approval .block_requests th.action,
.block_approval .block_requests td.action {
    width: 10%;
    text-align: center;
    text-justify:inter-word;
    padding: 0px 10px 0px 0px;
}

.block_approval .block_requests th.date,
.block_approval .block_requests td.date {
    width: 10%;
    text-align: center;
    text-justify:inter-word;
    padding: 0px 10px 0px 0px;
}

.block_approval .block_requests th.seats,
.block_approval .block_requests td.seats {
    width: 5%;
    text-align: left;
    text-justify:inter-word;
    padding: 0px 10px 0px 0px;
}

.block_approval .block_requests td.user,
.block_approval .block_requests td.info,
.block_approval .block_requests td.seats,
.block_approval .block_requests td.action,
.block_approval .block_requests td.date {
    background-color: white;
    white-space: pre-line;
}

a.lnk_disabled {
    pointer-events: none;
    cursor: default;
}

.lnk_manual_disabled {
    pointer-events: none;
    cursor: default;
}

.block_approval .block_requests .approved {
    cursor: default;
}

.block_approval .block_requests .rejected {
    cursor: default;
}

.userselector .sel_users_left {
    width:40%;
    float:left;
    display: inline-block;
}

.userselector .sel_users_right {
    width:40%;
    display: inline-block;
}

.userselector .sel_users_buttons {
    min-width:15%;
    float:left;
    margin-right: 20px;
    display: inline-block;
}

.userselector .sel_users_left select,
.userselector .sel_users_right select {
    width: 90%;
}

.userselector .sel_users_left label,
.userselector .sel_users_right label {
    text-align: left;
    text-indent: 5px;
    font-weight: bold;
}

#fitem_removeselect div.felement.fselect,
#fitem_id_removeselect div.felement.fselect,
#fitem_removeselect div.felement.fselectgroups,
#fitem_addselect div.felement.fselect,
#fitem_id_addselect div.felement.fselect,
#fitem_addselect div.felement.fselectgroups,
#fitem_id_add_sel div.felement.fsubmit,
#fitem_id_remove_sel div.felement.fsubmit {
    margin-left: 5px;
}

#fitem_id_add_sel div.felement.fsubmit {
    margin-top:25px;
}
#fitem_removeselect div.fitemtitle,
#fitem_id_removeselect div.fitemtitle,
#fitem_addselect div.fitemtitle,
#fitem_id_addselect div.fitemtitle,
#fitem_id_add_sel div.fitemtitle,
#fitem_id_remove_sel div.fitemtitle{
    display:none;
}

#fitem_removeselect_searchtext div.fitemtitle,
#fitem_addselect_searchtext div.fitemtitle {
    text-align: left;
    margin-left: 5px;
    width: 70px;
}

#fitem_removeselect_searchtext div.felement.ftext,
#fitem_addselect_searchtext div.felement.ftext {
    margin-left: 0px;
}

input#id_add_sel,
input#id_remove_sel {
    width: 110px;
}

@media (max-width: 767px) {
    .block_approval,
    .block_approval .block_requests,
    .block_approval .block_requests table {
        float: none;
        width: 100%;
        display: block;
        text-justify: inter-word;
        word-wrap: break-word;
    }

    /* Force table to not be like tables anymore */
    .block_approval .block_requests  tbody, tr, th, td {
        display: block;
    }

    .block_approval .block_requests table {
        display:block;
        background-color: white !important;
        width:100%;
    }

    .block_approval .block_requests thead tr {
        display:none;
    }


    .block_approval .block_requests table tr {
        width: 100%;
        border: 1px solid darkgray;
        background-color: white !important;
        padding-bottom: 15px;
    }

    .block_approval .block_requests td {
        width:100%;
        border-top: 1px solid #f2f2f2;
    }

    .block_approval .block_requests table td.user,
    .block_approval .block_requests table td.info,
    .block_approval .block_requests table td.action,
    .block_approval .block_requests table td.date {
        /* Behave  like a "row" */
        position: relative;
        padding-left: 50%;
        padding-bottom: 0px;
        width: 40%;
        white-space: normal;
        text-align:left;
        background-color: white !important;
        display: inline-block;
        text-justify:inter-word;
        word-wrap: break-word;
    }

    .block_approval .block_requests table td.user:before,
    .block_approval .block_requests table td.info:before,
    .block_approval .block_requests table td.action:before,
    .block_approval .block_requests table td.date:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 5px;
        padding-bottom: 0px;
        text-align:left;
        text-justify:inter-word;
        word-wrap: break-word;
        font-weight: bold;
        background-color: white !important;
    }

    .block_approval .block_requests table td.user:before,
    .block_approval .block_requests table td.info:before,
    .block_approval .block_requests table td.action:before,
    .block_approval .block_requests table td.date:before {
        content:attr(data-th);
        background-color: white !important;
        text-justify:inter-word;
        word-wrap: break-word;
        color:  #000;
        font:bold 12px Verdana,Verdana Pro,sans-serif;
    }

    .userselector .sel_users_left {
        float: none;
        width: 100%;
        display: block;
    }
    .userselector .sel_users_right {
        float: none;
        width: 100%;
        display: block;
    }
    .userselector .sel_users_buttons {
        float: none;
        width: 100%;
        display: block;
    }
    .userselector .sel_users_left select {
        width: 100%;
    }
    .userselector .sel_users_right select {
        width: 100%;
    }
}

@media (min-width: 850px) and (max-width: 978px) {
    .block_approval,
    .block_approval .block_requests,
    .block_approval .block_requests table {
        float: none;
        width: 100%;
        display: block;
        text-justify: inter-word;
        word-wrap: break-word;
    }

    .userselector .sel_users_left {
        float: none;
        width: 100%;
        display: block;
    }
    .userselector .sel_users_right {
        float: none;
        width: 100%;
        display: block;
    }
    .userselector .sel_users_buttons {
        float: none;
        width: 100%;
        display: block;
    }
    .userselector .sel_users_left select {
        width: 100%;
    }
    .userselector .sel_users_right select {
        width: 100%;
    }
}

@media (min-width: 767px) and (max-width: 849px) {
    .block_approval,
    .block_approval .block_requests,
    .block_approval .block_requests table {
        float: none;
        width: 100%;
        display: block;
        text-justify: inter-word;
        word-wrap: break-word;
    }

    .userselector .sel_users_left {
        float: none;
        width: 100%;
        display: block;
    }
    .userselector .sel_users_right {
        float: none;
        width: 100%;
        display: block;
    }
    .userselector .sel_users_buttons{
        float: none;
        width: 100%;
        display: block;
    }
    .userselector .sel_users_left select {
        width: 100%;
    }
    .userselector .sel_users_right select {
        width: 100%;
    }
}