<fieldset class="{{{group}}} collapse-group">
    <h4>{{{title}}}</h4>
    {{#shown}}
        {{^isselect}}
            <label class="checkbox{{#ishidden}} hidden{{/ishidden}}" data-id="{{{id}}}" data-type="{{{type}}}"
                   data-group="{{{group}}}" data-groupid="{{{groupid}}}" data-name="{{{name}}}">
                <input type="checkbox" data-id="{{{id}}}"{{#checked}} checked="checked"{{/checked}} value="">
                {{{name}}}
            </label>
        {{/isselect}}
        {{#isselect}}
            <label class="select" data-id="{{{id}}}" data-type="{{{type}}}" data-group="{{{group}}}" data-groupid="{{{groupid}}}"
                   data-name="{{{name}}}" data-sort="{{{sort}}}">
                <select name="select-{{{group}}}" id="select-{{{group}}}">
                    {{#elementitems}}
                        <option value="{{{value}}}">{{#str}}sortby, local_course_search{{/str}} {{{text}}}</option>
                    {{/elementitems}}
                </select>
                <label class="checkbox hidden" data-id="{{{id}}}" data-type="{{{type}}}" data-group="{{{group}}}"
                       data-groupid="{{{groupid}}}" data-name="{{{name}}}" data-sort="{{{sort}}}">
                    <input type="checkbox" data-id="{{{id}}}" checked="checked" value="">
                </label>
            </label>
        {{/isselect}}
    {{/shown}}
</fieldset>
