<section id="catalog-area" class="row-fluid" data-userid="{{{userid}}}">
    <aside id="search-area" class="span3 pull-left light-box">
        <form id="course-search-form">
            <fieldset class="form-switch-display">
                <button type="button" id="switch-display" class="btn" data-changetoselection="{{{changetoselection}}}"
                        data-changetoresults="{{{changetoresults}}}">{{{changetoselection}}}</button>
            </fieldset>

            <fieldset class="form-search">
                <!--<h4>{{{searchtitle}}}</h4>-->

                <div class="input-append">
                    <input id="course-search" name="course-search" type="text" class="input-small search-query"
                        placeholder="{{{freetextplaceholder}}}">
                    <!--<button type="submit" class="btn course-search-btn">{{{searchbtntext}}}</button>-->
                    <button type="submit" class="btn course-search-btn"><i class="icon-search icon-white"></i></button>
                </div>
            </fieldset>

            {{> local_course_search/course_search_region_search}}
        </form>
    </aside>

    <section id="display-area" class="span9 pull-right">
        <div class="alert alert-info">
            <p>{{#str}} nocoursesshowninfo, local_course_search {{/str}}</p>
        </div>
        <h4 id="actualCourseCountInfo">{{#str}} actualCourseCount, local_course_search {{/str}}</h4>
        <section id="tag-area" class="row-fluid">
            {{> local_course_search/course_search_selected_tags}}
        </section>
        <section id="result-area" class="row-fluid">
            {{> local_course_search/course_search_result_area}}
        </section>
        <section id="tag-preselect-area" class="row-fluid section-hidden"></section>
    </section>
</section>
