<div>
    <h4>{{#str}}preselectcriteria, local_course_search{{/str}}</h4>

    <input type="text" id="tagFilter" name="tag-filter" placeholder="{{#str}}typehere, local_course_search{{/str}}"
           title="{{#str}}typehere, local_course_search{{/str}}">

    {{#taglist}}
        {{#provider}}
            {{#hassubcategories}}
                <div class="group-box has-subcategories">
                    <h4>{{{title}}}</h4>

                    <div class="accordion" id="accordion-{{{type}}}">
                        {{#subcategories}}
                            {{> local_course_search/course_search_tag_preselect_area_group }}
                        {{/subcategories}}
                    </div>
                </div>
            {{/hassubcategories}}
        {{/provider}}
        {{#others}}
            {{#hassubcategories}}
                <div class="group-box has-subcategories">
                    <h4>{{{title}}}</h4>

                    <div class="accordion" id="accordion-{{{type}}}">
                        {{#subcategories}}
                            {{> local_course_search/course_search_tag_preselect_area_group }}
                        {{/subcategories}}
                    </div>
                </div>
            {{/hassubcategories}}
        {{/others}}
    {{/taglist}}
</div>
