{{#searchtags}}
    {{#groups}}
        {{> local_course_search/course_search_region_search_groups}}
    {{/groups}}
    {{#diplayoptions}}
        {{> local_course_search/course_search_region_search_displayoptions}}
    {{/diplayoptions}}
{{/searchtags}}
