<li id="coursecarditem-{{{id}}}" class="course-card-item" data-name="{{{name}}}" data-sortorder="{{{sortorder}}}"
    data-sortdate="{{{sortdate}}}" data-availnumber="{{{availnumber}}}" data-deadline="{{{deadline}}}"
    data-municipality="{{{municipality}}}" data-location="{{{location}}}">
    <a href="{{{link}}}">
        <div class="course-img"{{#img}} style="background-image: url('{{{.}}}');"{{/img}}>&nbsp;</div>
        <div class="course-desc">
            <h4 data-toggle="tooltip" title="{{{fullname}}}" class="course-title">{{{name}}}</h4>
            {{#isclass}}<div class="course-date">{{#str}}date, moodle{{/str}}: {{{date}}}</div>{{/isclass}}
        </div>
    </a>
</li>
