<li>
    <button type="button" class="btn btn-tag" data-id="{{{id}}}"
            data-type="{{{type}}}" data-group="{{{group}}}" data-groupid="{{{groupid}}}" data-name="{{{name}}}" data-sort="{{{sort}}}">
        {{{pretext}}}{{{name}}}{{{posttext}}} <i class="icon-remove-sign"></i>
    </button>
</li>
