<label class="checkbox" data-id="{{{id}}}" data-type="{{{type}}}" data-group="{{{group}}}" data-groupid="{{{groupid}}}"
       data-name="{{{name}}}"> <input type="checkbox"{{#checked}} checked="checked"{{/checked}} value="">
    {{{name}}}
</label>
