/**
 * New styles to integrate into the theme
 *
 * 2014-05-14
 *
 * Please remove the styles which are moved to the theme here.
 */

.home_page {
    width: 100%;
    display:block;
    text-align:justify;
    text-justify:inter-word;
}

.home_page .header {
    width: 100%;
    height:30px;
    margin-top:0px;
    margin-bottom: 5px;

}

.home_page .header h1{
    height:20px;
    font:bold 15px Verdana,Verdana Pro,sans-serif;
    text-align: left;
    line-height: 20px;
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    color:#0E7B9E;
}

.home_page_block_one {
    float:left;
    width: 68%;
    display:inline-block;
    margin-right: 1px;
    text-align:justify;
    text-justify:inter-word;
}

.home_page_block_one .buttons{
    margin-top: 0px;
    margin-left: -10px;
    margin-bottom: 25px;
}

.home_page_block_one .graphic {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;

    image-rendering: inherit;
}

.home_page_block_one .video {
    width: 100%;
    height: 100%;
}

.home_page_block_one  h3 {
    height:10px;
    font:bold 1em Verdana,Verdana Pro,sans-serif;
    text-align: left;
    line-height: 10px;
    padding-top: 0px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #0e7b9e;
    border-bottom: 1px solid #0e7b9e;
}

.home_page_block_two {
    float:right;
    width:30%;
    display:inline-block;
    text-align:justify;
    text-justify:inter-word;
}

.home_page_block_two .extra {
    display:block;
}

.home_page_block_two .extra .icon {
    height: 80px;
    margin-right: 3px;
    vertical-align: middle;
    width: 80px;
}

.home_page_block_two .extra .label_home {
    width:99%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    height:15px;
    font:bold 12px Verdana,Verdana Pro,sans-serif;
    text-align: left;
    line-height: 15px;
    color:#0E7B9E;
    display: inline-block;
    border-bottom: 0.1em solid;
}

.home_page_block_two .extra .extra_home{
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
    word-wrap: break-word;
}

.home_page_block_two .manager {
    display:block;
    padding-top: 10px;
    padding-bottom: 2px;
}

.home_page_block_two .manager .userpicture {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;

    image-rendering: inherit;
}

.home_page_block_two .manager .label_manager {
    width:99%;
    height:20px;
    font:bold 12px Verdana,Verdana Pro,sans-serif;
    text-align: left;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    margin-bottom: 5px;
    margin-top: 0px;
    color: #FFF;
    background-color: rgba(14,123,158,.9);
    display: inline-block;
}

.home_page_block_two .manager .label_coordinator {
    width:99%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    height:15px;
    font:bold 12px Verdana,Verdana Pro,sans-serif;
    text-align: left;
    line-height: 15px;
    color:#0e7b9e;
    display: inline-block;
    margin-top: 10px;
    border-bottom: 0.1em solid;
}

.home_page_block_two .manager .label_teacher {
    width:99%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    height:15px;
    font:bold 12px Verdana,Verdana Pro,sans-serif;
    text-align: left;
    line-height: 15px;
    color:#0e7b9e;
    display: inline-block;
    border-bottom: 0.1em solid;
}

.home_page_block_two .ratings {
    display:block;
    padding-top: 10px;
}

.home_page_block_two .ratings .title_ratings {
    width:99%;
    height:20px;
    font:bold 12px Verdana,Verdana Pro,sans-serif;
    text-align: left;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    margin-bottom: 5px;
    margin-top: 0px;
    color: #FFF;
    background-color: rgba(14,123,158,.9);
    display: inline-block;
}

.home_page_block_two .ratings .label_ratings {
    width:99%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    height:15px;
    font:bold 12px Verdana,Verdana Pro,sans-serif;
    text-align: left;
    line-height: 15px;
    color:#0e7b9e;
    display: inline-block;
    border-bottom: 0.1em solid;
}


