.button_related_courses{
    background: #066;
    font: bold 14px Arial;
    text-decoration: none;
    color: #333333;
    padding: 2px 2px 2px 2px;
    margin-left: 20px;

    position: relative;
    float: right;
    margin-top: -10px;
    margin-right: 1px;
}