/**
 * New styles to integrate into the theme
 *
 * 2014-05-14
 *
 * Please remove the styles which are moved to the theme here.
 */

/* Style the text for the last lesson page which replaces the button/links */
.format-netcourse.path-mod-lesson .lastlessonpage-info {
    padding: 1em .5em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
}

/* Add padding around the page content for pages without the left course navigation */
.format-netcourse.pagelayout-incourse.empty-region-side-pre #page-content > div > .row-fluid {
    padding: 0 1em .5em;
}

/* remove the white gap between the gray page frame and the block start */
#instcnav {
    margin-top: 0;
}

#instcnav .list {
    margin-top: 0;
}

/* Make the actual opened activity bold */
#instcnav .list .active_tree_node a {
    font-weight: bold;
}

/* Add a bit space to the percentage number in the progress bar */
.format-netcourse.path-mod-lesson .progress_bar_completed {
    padding: 0 20px 0 2px;
}
