.block_courses_site {
    width: 100%;
    display: inline-block;
    text-align:justify;
    text-justify:inter-word;
}

.line {
    margin-top: 5px;
    margin-bottom: 15px;
}

.graphic_site {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;

    image-rendering: inherit;
    margin-bottom: 10px;
}

.button_site{
    background-color: #0e7b9e;
    padding: 5px 5px 5px 5px;
    margin-right: 0px;
    margin-left: 0px;
}
.title_site {
    height:10px;
    font:bold 14px Verdana,Verdana Pro,sans-serif;
    text-align: left;
    line-height: 10px;
    padding-top: 0px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 0px;
    color: #0e7b9e;
}

.block_courses_site_one {
    float:left;
    width: 30%;
    display:inline-block;
    text-align:justify;
    text-justify:inter-word;
    margin-right: 35px;
    position: relative;
}


.block_courses_site_two {
    float:none;
    width: 30%;
    display:inline-block;
    text-align:justify;
    text-justify:inter-word;
    position: relative;
}


.block_courses_site_three {
    float:right;
    width: 30%;
    display:inline-block;
    text-align:justify;
    text-justify:inter-word;
    margin-right: 10px;
    position: relative;
}

.header_block_site {
    width:100%;
    position:relative;
    margin-bottom: 10px;
    display:inline-block;
}

.course_extra{
    width: 100%;
    display:inline-block;
    text-align:justify;
    text-justify:inter-word;
    margin-bottom:10px;
    position:relative;
}

.course_extra .col_one {
    float: left;
    text-align: left;
    font:bold 12px Verdana,Verdana Pro,sans-serif;
    color:#0E7B9E;
    display: inline-block;
    width: 20%;
    margin-bottom: 5px;
}

.course_extra .col_two {
    float: right;
    text-align: right;
    font-weight: normal;
    word-wrap: break-word;
    display: inline-block;
    width: 70%;
    margin-bottom: 5px;
}

.course_type {
    width: 100%;
    display:inline-block;
    text-align:justify;
    text-justify:inter-word;
    margin-top: -20px;
}

.course_type .col_one {
    float: left;
    text-align: left;
    font:bold 12px Verdana,Verdana Pro,sans-serif;
    color:#0E7B9E;
    width: 15%;
    margin-right: 10px;
    display: inline-block;
}

.course_type .col_two {
    float: right;
    text-align: right;
    font-weight: normal;
    width: 70%;
    display: inline-block;
}

.course_type .col_two .icon {
    height: 30px;
    width: 30px;
    margin-right: 0px;
    display: inline-block;
}



