

.block_tracker .content {
    display:block;
    height:auto;
}

.block_tracker .tracker_list {
    width: 100%;
    height: auto;
    clear: both;
    display: block;
    /* overflow-y: auto; */
    padding: 0;
    margin: 0;

}

.block_tracker .header_list h3 {
    text-align: left;
    line-height: 20px;
    color:  #757474;
    padding: 0px;
    font:bold 14px Verdana,Verdana Pro,sans-serif;
}

.block_tracker .job_list {
    clear: both;
}

.block_tracker .job_list.header_job {
    margin-bottom: 0px;
    padding: 0px 10px 0 10px;
}

.block_tracker .job_list.header_job table {
    width: 100%;
}

.block_tracker .job_list.header_job thead.head_role {
    background: white;
    line-height: 24px;
    color:  #757474;
    font: bold 14px Verdana,Verdana Pro,sans-serif;
}

.block_tracker .job_list.header_job thead.head_role th {
    font-weight: normal;
    padding: 10px 0 10px 2px;
}


.block_tracker .job_list.header_job thead.head {
    background: white;
    color:  #000;
    padding: 5px 10px 5px 15px;
    margin-bottom: 0px;
}

.block_tracker .job_list .body_job {
    width: 100%;
    height: 70%;
    margin-bottom: 5px;
    display: block;
    overflow-y: auto;
}

.block_tracker .job_list .body_job table {
    width: 100%;
}

.block_tracker .first {
    max-width: 7px;
    min-width: 7px;
    text-align: left;
    cursor: pointer;
}

.block_tracker .course {
    max-width: 125px;
    min-width: 125px;
    text-align: left;
}

.block_tracker .status {
    max-width: 85px;
    min-width: 85px;
    text-align: center;
}

.block_tracker .start {
    max-width: 20px;
    min-width: 20px;
    text-align: left;
}

.block_tracker .expired {
    background: #f2dede;
    font: normal 12px Verdana,Verdana Pro,sans-serif;
}

.block_tracker .completed {
    background: #dff0d8;
    font: normal 12px Verdana,Verdana Pro,sans-serif;
}

.block_tracker .not_enroll {
    background: #fcf8e3;
    font: normal 12px Verdana,Verdana Pro,sans-serif;
}

.block_tracker .not_completed {
    font: normal 12px Verdana,Verdana Pro,sans-serif;
}

.block_tracker .swicth_img {
    height: 16px;
    width: 16px;
}

.block_tracker .toggle {
    border: 0;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;

    cursor  : pointer;
    color   : #ccc;
    border  : none;
    margin      : 0px;
    padding     : 0px;

}


