.ie-scrollbar-white {
  scrollbar-shadow-color: #FFFFFF;
  scrollbar-highlight-color: #FFFFFF;
  scrollbar-face-color: #FFFFFF;
  scrollbar-3dlight-color: #FFFFFF;
  scrollbar-darkshadow-color: #FFFFFF;
  scrollbar-track-color: #FFFFFF;
  scrollbar-arrow-color: #FFFFFF;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 16px;
}
input,
button,
select,
textarea {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.navbar-search .search-query {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.hero-unit h1,
.hero-unit .texts {
  font-family: 'clan_otbook', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
a {
  color: #0e7b9e;
}
a:visited,
a:hover,
a:focus,
a:active,
a.active {
  color: #084458;
  text-decoration: none;
}
a.btn {
  color: #fff;
}
a.btn:visited,
a.btn:hover,
a.btn:focus,
a.btn:active,
a.btn.active {
  color: #fff;
  text-decoration: none;
}
.logo h1 span {
  font-size: .5em;
}
.top-border {
  border-top-color: #333;
  border-bottom-color: #fff;
}
.header-background {
  background: #fff url([[pix:theme|element-blue]]) 100% 50% no-repeat;
}
.ailaring-background-image {
  height: 100px;
}
.logo-area {
  float: left;
  height: 48px;
  margin: 1em 0;
  padding: 0;
  width: auto;
}
.logo-area .logo {
  display: block;
}
.logo-area h1 {
  color: #0e7b9e;
  line-height: .7;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .logo-area {
    margin-left: 20px;
    margin-right: 20px;
    max-width: inherit;
  }
}
@media (max-width: 519px) {
  .logo-area {
    margin-bottom: .5em;
  }
}
.header-right {
  background: inherit;
}
.header-right .muni-logo {
  padding: 15px 0;
}
.header-right .muni-logo img {
  width: auto;
  max-height: 70px;
  max-width: 350px;
}
.navbar-inner {
  background-color: #4c4f55 !important;
  border-color: #4c4f55;
}
.navbar .outer-wrapper {
  background-color: #0e7b9e;
}
.navbar .outer-wrapper:hover {
  background-color: #00aef0;
}
.navbar-text .logininfo a {
  color: #fff;
}
.navbar-menues .usermenu .login a {
  color: #fff;
}
.carousel-inner {
  background-color: #4c4f55;
}
#page-footer {
  background: #4c4f55;
  border-top: 0;
  color: #fff;
  padding-bottom: 1em;
}
@media (min-width: 560px) and (max-width: 767px) {
  #page-footer {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 0;
    width: auto;
  }
}
@media (max-width: 559px) {
  #page-footer {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: .5em;
    padding-left: .5em;
    width: auto;
  }
}
#page-footer #page-footer-inner {
  max-width: inherit;
}
#page-footer .footer-text-container {
  text-align: center;
}
#sub-footer .text {
  color: #999;
  padding: 1em 0 .5em;
}
#sub-footer .returntorole {
  clear: both;
  color: #999;
  margin: 1em 0;
}
#sub-footer .help-link {
  padding: .7em 0 0;
}
#sub-footer .help-link a {
  float: right;
  display: table-cell;
  text-align: center;
}
p.active_tree_node a {
  color: #0e7b9e;
}
