#page-local-friadmin-courselist {
    table.flexible {
        thead {
            th {
                white-space: pre;
            }
        }
        tbody {
            tr {
                &:hover {
                    &> td {
                        background-color: #fafafa;
                    }
                }
            }
        }
        .nowrap {
            white-space: nowrap;
        }
    }
}
