#page-local-friadmin-coursedetail {
    #region-main {
        margin-bottom: 1em;
    }
    #coursedetails {
        .header {
            font-weight: bold;
            text-align: right;
        }
        .c1 {
            width: 83%;
        }
    }
    .buttons-linklist {
        li {
            display: inline-block;
            margin: .3em 0;
        }
    }
}
