#page-local-friadmin-coursetemplate {
    .form-data {
        h4, pre {
            color: #ccc;
        }
    }
    .buttons-linklist {
        li {
            display: inline-block;
            margin: .3em 0;
        }
    }
}
