#page-local-friadmin-coursedetail {
    #coursedetails {
        .header {
            font-weight: bold;
            text-align: right;
        }
    }
    .coursedetail-linklist {
        li {
            display: inline-block;
            margin: .3em 0;
        }
    }
}
