@import "inc/variables.less";


h1 {
    font-size: @fontSizeH1;
    line-height: 1.1667em; /* 42px */
    margin-top: 0.5833em;
    margin-bottom: 0.0000em;
}

h2 {
    font-size: @fontSizeH2;
    line-height: 1.7500em; /* 42px */
    margin-top: 0.8750em;
    margin-bottom: 0.0000em;
}

h3 {
    font-size: @fontSizeH3;
    line-height: 1.0500em; /* 21px */
    margin-top: 1.0500em;
    margin-bottom: 0.0000em;
}

h4 {
    font-size: @fontSizeH4;
    line-height: 1.1667em; /* 21px */
    margin-top: 1.1667em;
    margin-bottom: 0.0000em;
}

h5 {
    font-size: @fontSizeH5;
}

h6 {
    font-size: @fontSizeH6;
}

.unlist,
.unlist li,
.inline-list,
.inline-list li,
.block .list,
.block .list li,
.section li.activity,
.section li.movehere,
.tabtree li {
    margin: 0.2em 0;
}
