@import "inc/variables.less";

h1 {
    font-size: @fontSizeH1;
}

h2 {
    font-size: @fontSizeH2;
}

h3 {
    font-size: @fontSizeH3;
}

h4 {
    font-size: @fontSizeH4;
}

h5 {
    font-size: @fontSizeH5;
}

h6 {
    font-size: @fontSizeH6;
}

.unlist,
.unlist li,
.inline-list,
.inline-list li,
.block .list,
.block .list li,
.section li.activity,
.section li.movehere,
.tabtree li {
    margin: 0.2em 0;
}
