.course-content ul.netcourse {
  margin: 0;
}

.course-content ul.netcourse li.section {
  list-style: none;
  margin: 0 0 5px 0;
  padding: 0;
}

.course-content ul.netcourse li.section .content {
  margin: 0 40px;
}

.course-content ul.netcourse li.section .left {
  float: left;
}

.course-content ul.netcourse li.section .right {
  float: right;
}

.course-content ul.netcourse li.section .left,
.course-content ul.netcourse li.section .right {
  width: 40px;
  text-align: center;
  padding: 6px 0;
}

.course-content ul.netcourse li.section .right img.icon {
  padding: 0 0 4px 0;
}

.course-content ul.netcourse li.section .left .section-handle img.icon {
  padding: 0;
  vertical-align: baseline;
}

.netcourse-header {
  margin: 1em 0 1em 0;
  .btn {
  margin: 0.2em 0 .2em 0;
  background: none;
  box-shadow: none;
  color: @kommitBlue;
  font-size: 18px;
}
  .btn-primary:active, .btn-primary.active, {
    color: #ffffff;
    background-color: @kommitBlue;
  }
}

#instcnav {
  padding: 0;
}

#instcnav .block_tree {
  //font-size: 22px;
}

#instcnav .block_tree .tree_item.branch {
  background-position: 10px 1.1em;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;

}

#instcnav .block_tree .tree_item.leaf {
  margin: .3em 0 .2em 0;
  font-size: 1em;
  font-weight: normal;
  a {
    color: @kommitGray;
  }
}

#instcnav .content {
  padding: 0;
}

#instcnav li.contains_branch > p.branch {
  background-color: #f9f9f9;
  color: @kommitGray;
  line-height: 1.2em;
  padding-left: 30px;
}

#instcnav li.contains_branch.collapsed > p.branch {
  border-top: 1px solid #fff;
  border-bottom: 1px solid @kommitGrayWarm;
  color: @kommitGray;
}

.jsenabled #instcnav .block_tree .tree_item.branch span:focus {
  outline: 0;
}

.jsenabled #instcnav .block_tree li.contains_branch .branch span {
  font-weight: normal;
}

.jsenabled #instcnav .block_tree li.contains_branch.collapsed .branch span {
  font-weight: normal;
}

#instcnav .block_tree li.depth_2 ul {
  padding-left: 22px;
  overflow: hidden;
}


// Jon Overide progress bar
// 14/05/2014
// -------------------------------------------------------

.format-netcourse.path-mod-lesson .box .progress_bar {
  border: none;
  height: 25px;
  margin-top: -25px;
  background: none;
}

.format-netcourse.path-mod-lesson .progress_bar {
  //display: none;
  background: @kommitGrayLight;
  border: 1px solid @kommitGrayWarm;
  height: 25px;
  margin-top: 40px;
  margin-right: 20px;
}

.format-netcourse.path-mod-lesson .progress_bar_completed {
  background-color: #46a546;
  #gradient .vertical(#b4d95b, #46a546);
  padding-right: 20px;
}


// Jon new styles
// 13/05/2014
// -------------------------------------------------------

// set background main content window white
.format-netcourse  #page-content {
  background: #fff;
  border: 1px solid @kommitGrayWarm;
}

//remove padding on block nav
.format-netcourse .block .list li, {
  margin: 0;
}

.block {
  margin: 0;
  padding: 0;
}

.block .list {
  margin: 0;
}
