// colour overides for net course format
// ---------------------------------------

.netcourse-header {
  .btn {
  color: @kommitBlue;
}
  .btn-primary:active, .btn-primary.active, {
    color: #ffffff;
    background-color: @kommitBlue;
  }
}


#instcnav .block_tree .tree_item.leaf {
  a {
    color: @kommitGray;
  }
}

#instcnav li.contains_branch > p.branch {
  background-color: #f9f9f9;
  color: @kommitGray;
}

#instcnav li.contains_branch.collapsed > p.branch {
  border-top: 1px solid #fff;
  border-bottom: 1px solid @kommitGrayWarm;
  color: @kommitGray;
}

// Jon Overide progress bar
// 14/05/2014
// -------------------------------------------------------

.format-netcourse.path-mod-lesson .box .progress_bar {
  border: none;
  height: 25px;
  margin-top: -25px;
  background: none;
}

.format-netcourse.path-mod-lesson .progress_bar {
  //display: none;
  background: @kommitGrayLight;
  border: 1px solid @kommitGrayWarm;
  height: 25px;
  margin-top: 40px;
  margin-right: 20px;
}

.format-netcourse.path-mod-lesson .progress_bar_completed {
  background-color: #46a546;
  #gradient .vertical(#b4d95b, #46a546);
  padding-right: 20px;
}

// Jon new styles
// 13/05/2014
// -------------------------------------------------------

// set background main content window white

.format-netcourse  #page-content {
  background: #fff;
  border: 1px solid @kommitGrayWarm;
}

//remove padding on block nav
.format-netcourse .block .list li, {
  margin: 0;
}

