
.home_page_block_two .manager .userpicture {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: inherit;
  float: left;
  width: 75px;
  height: 75px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

.home_page_block_two .manager .user {
  float: right;
  width: 55%;
  margin-top: 10px;
}

.home_page_block_two .manager .user_picture {
  float: left;
  margin-top: 10px;
}