
.home_page_block_two .manager .userpicture {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: inherit;
  float: left;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
}

.home_page_block_two .manager .user {
  float: right;
  width: 55%;
  //margin-top: 10px;
}

.home_page_block_two .manager .user_picture {
  float: left;
  margin: 10px 0;
}