
.home_page_block_two .manager .userpicture {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: inherit;
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  margin: 0 10px 0 0px;
}

.home_page_block_two .manager .user {
  //float: right;
  //width: 55%;
  margin-top: 0px;
}

.home_page_block_two .manager .user_picture {
  float: left;
  margin: 10px 0;
}

.home_page_block_one .buttons {
  margin: 20px 0;
}

.home_page_block_two .manager .user {
  float: none;
  width: 100%;
  /* margin-top: 10px; */
}

.home_page_block_two .manager .extra_coordinator {
  display: block;
}

// rating block
// --------------------------------------------

.home_page_block_two .ratings .content_rating_bar {
  background: none;
}

.home_page_block_two .rating_bar_block .rating_bar {
  background: @kommitGrayWarm;
}