#page-enrol-index {
    #region-main {
        &.span8 {
            width: 99%;
        }
    }
    #block-region-side-pre {
        display: none;
    }
    &.format-netcourse {
        .mform {
            margin: 1em 0 0 1em;

            fieldset {
                .ftoggler {
                    margin-bottom: .5em;
                }
                .femptylabel {
                    margin-bottom: 0;
                }
            }
            .fitem {
                div.fitemtitle {
                    display: none;
                }
                .felement {
                    margin-left: 0;

                    input[size] {
                        width: initial;
                    }
                }
            }
            .fitem_actionbuttons {
                background-color: inherit;
                margin: 0;
            }
        }
    }
}
