@import "inc/variables.less";
@import "inc/mixins.less";

// Body
// --------------------------------------------------

body {

  padding-top: 0px;


  //background-image: url("../pix/cream_dust.png");


}

// Page Header
// --------------------------------------------------

.top-border {
  border-top: 2px solid @kommitGreyDark;
  border-bottom: 4px solid @kommitBlueLight;
}


.header-background {
  #gradient > .horizontal-three-colors(#fff, #fff, 60%, @kommitGrayLight);
  height: 100px;
  padding: 0;
  margin: 0;

}
// logo holder

.logo-area  {
  float: left;
  //width: 224px;
  height: 52px;
  margin: 19px 0;
  //padding: 10px 0 10px 0;
}

.header-right  {
  float: right;
  background-image: url([[pix:theme|header_curve]]);
  width: 540px;
  height: 100px;

  .social {
    float: right;
    position: relative;
    top: 40px;;
    .col1,
    .col2 {

      display:inline-block;
      width: 40px;
      height: 40px;
      //border: 2px solid @kommitBlueDark;
      margin: 10px;
      .fa {
        color: @kommitBlueDark;
        margin: 0;
        padding: 2px;
        border: 2px solid @kommitBlueDark;

      }
    }
  }

}


// Footer
// --------------------------------------------------

#page-footer {
    width: 100%;
    padding-bottom: 2.5em;
    text-align: left;
    background: @kommitGreyDark;
    border-top: 3px solid @kommitBlueLight;

  h4 {
    text-align: left;
    font-size: @baseFontSize;
    color: white;
    width: 90%;
    //border-bottom: 1px solid  white;
  }

    #page-footer-inner {
        margin: 0 auto;
        min-height: 8em;
        max-width: 1200px;
        padding: 0 0%;
        text-align: left;
        position: relative;
      p{
        color: white;

      }


  .column {
    display: inline-block;
    vertical-align: top;
    //float: left;
    width: 15%;
    max-width: 200px;
    padding: 0 5px;
    p{
      font-size: @fontSizeSmall;
      color: @kommitGray;
    }
  }
  }
}


// Login
// --------------------------------------------------

.loginpanel {
  border: 1px solid @grayLight;
  .border-radius(@baseBorderRadius);
  background: @grayLighter;
  padding: 10px 10px;
  position: relative;
  min-width: 210px;
  max-width: 35%;
  margin: 0 auto;
}

div.loginpanel h2 {
  color: @headingsColor;
  font-size: @fontSizeH1;
  font-weight: normal;
  line-height: @baseLineHeight;
  margin: 0;
}

.loginbox {
  .loginform {
    .form-input {
      vertical-align: middle;
      text-align: center;
      float: none;
      clear: both;
      width: 100%;
      padding-bottom: 1em;

      #username,
      #password {
        position: relative;
        width: 60%;
      }
      #loginbtn {
        vertical-align: middle;
        text-align: center;
        width: 60%;
        padding: 5px;
      }
    }
    .form-label {
      clear: all;
      padding: 0em 0em 0.2em 1.6em;
      text-align: center;
    }
  }
}



