// these are content based minor break point adjustments, to override bootstraps where they lok bad
// Jon Jack
// efaktor, 26/03/2013



// Smallish screen
// ---------------------------------------------------


@media (max-width: 600px) {
  .logo-area {
    padding: 20px 19px;
    margin: 0;
  }
  .header-background {
    background-color: #fff;
    background-image: none;
    margin:0 -20px;
  }

  .hero-unit {
    background-image: url([[pix:theme|banner_image]]);
    max-height: 250px;
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: 70% 40%;
    h1 {
      font-size: @fontSizeH4;
    }
    .texts {
      width: 95%;
      margin-top: 1%;
    }

    .lead {

    }
  }
}


// Mid size screen
// ---------------------------------------------------

@media (max-width: 767px) {
  .top-border {
    margin-left: -20px;
    margin-right: -20px;
  }
  .header-right  {
    display: none;
  }
  .navbar .navbar-fixed-top  {
    margin-left: -20px;
    margin-right: -20px;
  }
  .hero-unit {
    margin-left: -20px;
    margin-right: -20px;
    .texts {
      margin-top: 5%;
    }
  }

  #page-footer #page-footer-inner .column {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
  }
}

@media (min-width:600px) and (max-width: 767px) {
  .header-background {
    margin-right: -20px;
    margin-left: -20px;
  }
  .logo-area {
    float: left;
    padding-left: 20px;
  }
}

@media (max-width: 979px) {
  .nav-collapse.active {
    float: left;
  }
  .navbar .nav > li > a {
    text-align: left;
  }
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
  .header-right  {
    width: 60%;
  }
  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    color: #fff;
  }
  .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding: 0px;
  }

  // Lesson Module - Set min-height on lesson pages
  // -------------------------------------

  #page-mod-lesson-view .contents {
    //min-height: 12em;
  }
}

// Large size screen
// ---------------------------------------------------

@media (min-width: 979px) {
  .navbar-right {
    float: right !important;
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    width: 1160px;
    margin: 0 auto;
  }
}
