// these are content based minor break point adjustments, to override bootstraps where they look bad
// Jon Jack
// efaktor, 26/03/2013



// Small screen
// ---------------------------------------------------

@media (max-width: 600px) {
  .logo-area {
    padding: 20px 19px;
    margin: 0;
  }
  .header-background {
    background-color: #fff;
    background-image: none;
    margin:0 -20px;
  }

  .hero-unit {
    background-image: url([[pix:theme|banner_image]]);
    max-height: 250px;
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: 70% 40%;
    h1 {
      font-size: @fontSizeH2;
    }
    .texts {
      width: 85%;
      margin-top: 1%;
    }
    .lead {
      margin-top: 1%;
      font-size: @fontSizeH4;

    }
  }
  // home page generator responsive fixes
  .home_page_block_one {
    width: 100%;
  }
  .home_page_block_two {
    width: 100%;
  }
  .home_page .header {
    word-break: break-all;
  }

  .home_page {
    padding: 0 5px;
  }
  .home_page_block_one .graphic {
    width: 96%;
  }
  // hide edit toggle label
  .edit-label {
    display: none;
  }
  // truncate breadcrumbs in mobile devices
  .breadcrumb > li {
    display: none;
  }
  .breadcrumb > li:first-child, li:last-child {
    display: inline-block;
  }
  // responsive fix for nett course format
  .format-netcourse #page-content {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }

}


// Mid size screen
// ---------------------------------------------------

@media (max-width: 767px) {
  .top-border {
    margin-left: -20px;
    margin-right: -20px;
  }
  .header-right  {
    display: none;
  }
  .navbar .navbar-fixed-top  {
    margin-left: -20px;
    margin-right: -20px;
  }
  .hero-unit {
    margin-left: -20px;
    margin-right: -20px;
    .texts {
      margin-top: 5%;
    }
  }

  // featured courses block
  .block_courses_site_one {
    float: none;
    width: 100%;
    display: block;
  }
  .block_courses_site_two {
     float: none;
     width: 100%;
     display: block;
   }
  .block_courses_site_three {
    float: none;
    width: 100%;
    display: block;
  }

  // nett course responsive fixes
  .format-netcourse #page-content {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    margin-right: -10px;
  }


  // adjust height of featured courses
  // -------------------------------
  .label_header{
    min-height: 70px;
  }
  .block_courses_site_type {
    height: 80px;
  }
}

@media (min-width:600px) and (max-width: 767px) {
  .header-background {
    margin-right: -20px;
    margin-left: -20px;
  }
  .logo-area {
    float: left;
    padding-left: 20px;
  }
}


@media (min-width:770px) and (max-width: 849px) {
  // adjust height of featured courses
  // -------------------------------
  .label_header{
    min-height: 130px;
  }
  .block_courses_site_type {
    height: 80px;
  }
}

@media (min-width:850px) and (max-width: 978px) {
  // adjust height of featured courses
  // -------------------------------
  .label_header{
    min-height: 100px;
  }
  .block_courses_site_type {
    height: 80px;
  }
}


@media (max-width: 979px) {
  .nav-collapse.active {
    float: left;
  }
  .navbar .nav > li > a {
    text-align: left;
  }
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
  .header-right  {
    width: 60%;
  }
  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    color: #fff;
  }
  .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding: 0px;
  }

  // Lesson Module - Set min-height on lesson pages
  // -------------------------------------
 #page-mod-lesson-view .contents {
    //min-height: 12em;
  }
  // Switch home page layout to 100%
  // -------------------------------------
  .home_page_block_one {
    width: 100%;
  }
  .home_page_block_two {
    width: 100%;
  }
 // footer adjustments
  // -------------------------------------

  #page-footer{

  }
  #page-footer #page-footer-inner .column {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
  }
}

// Large size screen
// -------------------------------------

@media (min-width: 979px) {
  .navbar-right {
    float: right !important;
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    width: 1160px;
    margin: 0 auto;
  }
}
