#page-admin-local-tag-edit_group_tags {
    .itemList {
        .ui-sortable-helper {
            background-color: #fff;
        }
        .selected {
            background-color: #fff;
        }
    }
    #filter-tag,
    #add-tag {
        margin-top: -1px;
    }
}

body {
    &#page-admin-local-tag-edit_group_tags {
        > .ui-sortable-helper {
            background-color: #fff;
            border: 1px solid #eee;

            > li {
                background-color: #fff;
                border: 1px solid #eee;
            }
        }
    }
}
