@import "inc/variables.less";
@import "../../../bootstrapbase/less/bootstrap/reset.less";



// Lists
// --------------------------------------------------

// Image placements
// --------------------------------------------------
.img-responsive-left {
    .img-responsive;
    float: left;
    margin-right: 1em;
}

.img-responsive-right {
    .img-responsive;
    flaot: right;
    margin-left: 1em;
}
