@import "inc/variables.less";

//
// Typography
// --------------------------------------------------

// Body text
// -------------------------

p {
    color: @textColor;
    line-height: @baseLineHeight;
    margin: 0 0 1.3125em 0;
}

// Headings
// -------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
    color: @headingsColor;
}

// Lists
// --------------------------------------------------
