#mform-coursefilter {
  margin-bottom: 1.5em;
}
#mform-coursefilter .fitem_fgroup .fitemtitle {
  margin-right: 1em;
  text-align: left;
  width: 14%;
}
#mform-coursefilter .fitem_fgroup .felement {
  margin-left: 0;
}
#mform-coursefilter .fitem_fgroup .fgroup select {
  max-width: 30%;
}
#mform-coursefilter .fitem_fgroup.femptylabel .fitemtitle {
  display: none;
}
#mform-coursefilter .fitem_fgroup.femptylabel .felement {
  margin-left: 0;
}
#mform-coursefilter .fitem_fgroup.femptylabel .fgroup select {
  max-width: 30%;
}
#mform-coursefilter .fitem_fgroup .group-spacer {
  padding: 0 1.5%;
}
#mform-coursefilter .fdate_selector {
  white-space: nowrap;
}
#mform-coursefilter input[type="submit"] {
  float: right;
  margin: 0;
}
#mform-coursefilter input[type="text"] {
  margin: 0;
}
body #region-main #mform-coursefilter:not(.unresponsive) .femptylabel .fgroup {
  width: 100%;
}
body #region-main #mform-coursefilter:not(.unresponsive) .femptylabel .fitemtitle {
  display: none;
}
#page-local-friadmin-courselist div#dateselector-calendar-panel {
  z-index: 5100;
}
#page-local-friadmin-courselist table.flexible thead th {
  white-space: pre;
}
#page-local-friadmin-courselist table.flexible tbody tr:hover > td {
  background-color: #fafafa;
}
#page-local-friadmin-courselist table.flexible .nowrap {
  white-space: nowrap;
}
#page-local-friadmin-usercourselist .morecourses {
  margin: 1em 1em 2em .4em;
}
#page-local-friadmin-coursedetail #region-main {
  margin-bottom: 1em;
}
#page-local-friadmin-coursedetail #coursedetails .header {
  font-weight: bold;
  text-align: right;
}
#page-local-friadmin-coursedetail #coursedetails .c1 {
  width: 83%;
}
#page-local-friadmin-coursedetail .buttons-linklist li {
  display: inline-block;
  margin: .3em 0;
}
#page-local-friadmin-coursetemplate .form-data h4,
#page-local-friadmin-coursetemplate .form-data pre {
  color: #ccc;
}
#page-local-friadmin-coursetemplate .buttons-linklist li {
  display: inline-block;
  margin: .3em 0;
}
#page-local-friadmin-mysettings .fstatic {
  margin-top: -0.2em;
  padding-top: 0;
}
