#mform-coursefilter {
  margin-bottom: 1.5em;
}
#mform-coursefilter .fitem_fgroup .fitemtitle {
  margin-right: 1em;
  text-align: left;
  width: 14%;
}
#mform-coursefilter .fitem_fgroup .felement {
  margin-left: 0;
}
#mform-coursefilter .fitem_fgroup .fgroup select {
  max-width: 30%;
}
#mform-coursefilter .fitem_fgroup.femptylabel .fitemtitle {
  display: none;
}
#mform-coursefilter .fitem_fgroup.femptylabel .felement {
  margin-left: 0;
}
#mform-coursefilter .fitem_fgroup.femptylabel .fgroup select {
  max-width: 30%;
}
#mform-coursefilter .fitem_fgroup .group-spacer {
  padding: 0 1.5%;
}
#mform-coursefilter .fdate_selector {
  white-space: nowrap;
}
#mform-coursefilter input[type="submit"] {
  float: right;
  margin: 0;
}
#mform-coursefilter input[type="text"] {
  margin: 0;
}
body #region-main #mform-coursefilter:not(.unresponsive) .femptylabel .fgroup {
  width: 100%;
}
body #region-main #mform-coursefilter:not(.unresponsive) .femptylabel .fitemtitle {
  display: none;
}
#page-local-friadmin-courselist div#dateselector-calendar-panel {
  z-index: 5100;
}
#page-local-friadmin-courselist table.flexible thead th {
  white-space: pre;
}
#page-local-friadmin-courselist table.flexible tbody tr:hover > td {
  background-color: #fafafa;
}
#page-local-friadmin-courselist table.flexible .nowrap {
  white-space: nowrap;
}
#page-local-friadmin-usercourselist .morecourses {
  margin: 1em 1em 2em .4em;
}
#page-local-friadmin-coursedetail #region-main {
  margin-bottom: 1em;
}
#page-local-friadmin-coursedetail #coursedetails .header {
  font-weight: bold;
  text-align: right;
}
#page-local-friadmin-coursedetail #coursedetails .c1 {
  width: 83%;
}
#page-local-friadmin-coursedetail .buttons-linklist li {
  display: inline-block;
  margin: .3em 0;
}
#page-local-friadmin-coursetemplate .form-data h4,
#page-local-friadmin-coursetemplate .form-data pre {
  color: #ccc;
}
#page-local-friadmin-coursetemplate .buttons-linklist li {
  display: inline-block;
  margin: .3em 0;
}
#page-local-friadmin-mysettings .fstatic {
  margin-top: -0.2em;
  padding-top: 0;
}
#mform-mysettings-select .input-append {
  margin-bottom: 0;
}
#mform-mysettings-select .btn-select {
  margin: 0;
}
#mform-mysettings-select .friadmin-category-select-list {
  background-color: #f9f9f9;
  float: left;
  min-width: 20em;
  padding: .5em .8em;
}
#mform-mysettings-select .friadmin-category-select-list.list-depth-0 {
  border: 1px solid #ccc;
}
#mform-mysettings-select .friadmin-category-select-list li.collapsed {
  padding-bottom: .5em;
}
#mform-mysettings-select .friadmin-category-select-list li:last-of-type {
  padding-bottom: 0;
}
#mform-mysettings-select .friadmin-category-select-list li .tree-icon {
  background-image: url([[pix:t/collapsed_empty]]);
  background-position: 0 2px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin: 0;
  width: 16px;
}
#mform-mysettings-select .friadmin-category-select-list li .catname {
  cursor: pointer;
  display: inline-block;
}
#mform-mysettings-select .friadmin-category-select-list > li.with-children > div > .tree-icon {
  background-image: url([[pix:t/expanded]]);
  cursor: pointer;
}
#mform-mysettings-select .friadmin-category-select-list > li.with-children.collapsed > div > .tree-icon {
  background-image: url([[pix:t/collapsed]]);
  cursor: pointer;
}
#mform-mysettings-select .friadmin-category-select-list .selected-item > .info > .catname {
  font-weight: bold;
}

.header_location {
  width: 100%;
  clear: both;
  display:block;
  background: #ecedf0;
  padding-top: 0.01em;
  padding-bottom: 0.01em;
  text-indent: 1px;
}

.header_detail_location {
  width: 100%;
  clear: both;
  display:block;
  padding-top: 0.01em;
  padding-bottom: 0.01em;
  text-indent: 1px;
}

.header_location h3,
.header_detail_location h3 {
  /* Top Right Bottom LEft:   */
  margin: 5px 0px 5px 0px;
  color : #004b93;
  text-indent: 1px;
}

.locations_rpt_div {
  margin-top: 0px;
  margin-bottom: 1.5em;
  clear: both;
  width:100%;
}

.locations_rpt_div .userprofile dl.list dt {
  padding:5px 0px 10px 5px;
  font-weight: bold;
}

.locations_rpt_div .userprofile dl.list dd {
  background: white;
  text-align: left;
  padding: 5px 0px 10px 5px;
  font-weight: normal;
  margin-right: 2%;
}


.locations_rpt_div .userprofile .descriptionbox,
.locations_rpt_div .userprofile dl {
  background: #ecedf0;
  border: none;
}
.locations_rpt_div h6,
.locations_rpt_div h6 p,
.locations_rpt_div h5,
.locations_rpt_div h5 p,
.locations_rpt_div h4,
.locations_rpt_div h4 p {
  color: rgba(94, 83, 83, 0.86);
  margin-bottom: 0px;
  margin-top: 0px;
}

.location_advance_set {
  position: relative;
  float: left;
  font: bold 13px Arial;
  text-decoration: none;
  background: none;
  color: #004b93;
  text-align: left;
  /* Top Right Bottom LEft:   */
  margin: 5px 25px 5px 0px;
}

.locations_rpt_div .location_content {
  height: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  width:100%;
}

.locations_rpt_div .location_list {
  width: 100%;
  height: auto;
  padding: 0;
  /* Top Right Bottom LEft:   */
  margin: 15px 0px 15px 0px;
}


.locations_rpt_div .location_list table {
  width: 100%;
  background: white;
  color:  #000;
  margin-bottom: 2px;
  text-justify: inter-word;
  word-break: break-all;
  word-wrap: break-word;
}

.locations_rpt_div .location_list tr.head {
  padding: 0px 0px 0px 0px;
  margin-bottom: 0px;
  font:bold 14px Verdana,Verdana Pro,sans-serif;
  background: #E3E7ED;
  height: 30px;
}

.button_order {
  background: none;
  color: #333333;
  font:bold 14px Verdana,Verdana Pro,sans-serif;
  margin: 0px;
  padding: 0px;
}

.locations_rpt_div .location_list td.detail {
  width: 18%;
  text-align: left;
  font:12px Verdana,Verdana Pro,sans-serif;
  padding-right: 10px;
}

.locations_rpt_div .location_list td.action {
  width: 10%;
  text-align: left;
  font:12px Verdana,Verdana Pro,sans-serif;
}

.locations_rpt_div .location_list .lnk_edit {
  width: 2%;
  float: left;
  display: inline-block;
  padding-right: 15px;
}

.r0 {
  background-color:  white;
}

.r2 {
  background-color: #f2f2f2;
}

.link_return {
  text-align: left;
  font: 14px Verdana,Verdana Pro,sans-serif;
}

.line_rpt_lnk {
  border: 0;
  border-top: none;
  width: 99.5%;
  margin-top: 15px;
  margin-bottom: 15px;
  text-indent: 10px;
}

@media (max-width: 767px) {
  .locations_rpt_div,
  .locations_rpt_div .location_list {
    float: none;
    width: 90%;
    display: block;
    text-justify: inter-word;
    word-wrap: break-word;
  }


  /* Force table to not be like tables anymore */
  .locations_rpt_div .location_list  tbody, tr, th, td {
    display: block;
  }

  .locations_rpt_div .location_list table {
    display:block;
    background-color: white !important;
    width:100%;
    margin-top:45px;
  }

  .locations_rpt_div .location_list table thead tr {
    display:none;
  }


  .locations_rpt_div .location_list table tr {
    width: 100%;
    border: 1px solid darkgray;
    background-color: white !important;
    padding-bottom: 15px;
  }

  .locations_rpt_div .location_list table td {
    width:100%;
    border-top: 1px solid #f2f2f2;
    padding-bottom: 15px;
  }

  .locations_rpt_div .location_list table td.detail,
  .locations_rpt_div .location_list table td.action{
    /* Behave  like a "row" */
    position: relative;
    padding-left: 50%;
    width: 40%;
    white-space: normal;
    text-align:left;
    background-color: white !important;
    display: inline-block;
    text-justify:inter-word;
    word-wrap: break-word;
  }

  .locations_rpt_div .location_list table td.detail:before,
  .locations_rpt_div .location_list table td.action:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 5px;
    text-align:left;
    text-justify:inter-word;
    word-wrap: break-word;
    font-weight: bold;
    background-color: white !important;
  }

  .locations_rpt_div .location_list table td.detail:before,
  .locations_rpt_div .location_list table td.action:before {
    content:attr(data-th);
    background-color: white !important;
    text-justify:inter-word;
    word-wrap: break-word;
    color:  #000;
    font:bold 12px Verdana,Verdana Pro,sans-serif;
  }

}