@mediumWidth: 768px;

.block_course_tags {
    .meta-group-tags {
        margin-left: .2em;

        h4 {
            font-size: 1.1em;
            margin-bottom: 0;
        }
    }
    .unlist li {
        margin-bottom: .5em;
    }
    .footer {
        margin-top: .5em;
    }
}

#page-blocks-course_tags-settags {
    #region-main {
        margin-bottom: 1em;
    }
    #tag-filter-form {
        .showalsoselected {
            input[type="checkbox"] {
                float: none;
            }
        }
    }
    #taggroup-accordion {
        .unlist li {
            margin-bottom: .5em;

            span[data-value="1"] .smallicon {
                height: 24px;
                width: 24px;
            }
        }
    }
    #course-search {
        border-radius: 0;
        margin-bottom: .5em;
        max-width: 20em;
        width: 70%;

        @media (min-width: @mediumWidth) and (max-width: 839px) {
            width: 50%;
        }
        @media (min-width: 840px) and (max-width: 1100px) {
            width: 60%;
        }
    }
    .course-search-btn {
        border-radius: 0;
        margin-top: 0;
        padding-top: .4em;
        padding-bottom: .25em;
        vertical-align: top;
    }
    #tag-filter {
        background-image: url(~"[[pix:block_course_tags|searchicon]]");
        background-position: 5px 5px;
        background-repeat: no-repeat;
        padding-left: 30px;
    }
}

#page-admin-setting-blocksettingcourse_tags,
.path-admin-tool-templatelibrary {
    .itemlist-wrapper {
        margin-bottom: 1em;
    }
    #draggableItemList {
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        float: left;
        margin-left: 0;
        min-width: 50%;
        padding: .5em .5em 0;

        .item {
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            list-style-type: none;
            list-style-image: none;
            margin-bottom: .5em;
            padding: .4em 1em;

            .smallicon {
                /*display: none;*/
                opacity: .2;
                display: inline-block;
                padding-right: .7em;
                padding-bottom: .1em;
            }
        }
        .ui-sortable-helper {
            background-color: #e5e5e5;
        }
        &.dd-initialized {
            .item {
                cursor: move;

                .smallicon {
                    /*display: inline-block;*/
                    opacity: 1;
                }
            }
        }
    }
}
