#fgroup_id_grp_InvoiceType .fitemtitle {
    width: 10px;
    margin-right: 5px;
}


#fgroup_id_grp_InvoiceType fieldset.felement.fgroup {
    margin-left: 5px;
}

input#id_invoice_type_ACCOUNT,
input#id_invoice_type_ADDRESS {
    width: 20px;
}

.label_download {
    float: right;
    margin-right: 50px;
}

label.invoice_info {
    color: #8c8c8c;
    margin-bottom: 15px;
    margin-left: 5px;
    cursor: auto;
}

#fgroup_id_grp_InvoiceType .account,
#fgroup_id_grp_InvoiceType .address {
    margin-left: 20px;
}

#fgroup_id_grp_InvoiceType  .accesshide {
    position:relative;
    left: 0px;
    padding-right:5px;
    display: inline-block;
    width: 200px;
    text-align: right;
}

.block_enrol_invoices {
    width:100%;
    display:block;
}
.block_enrol_invoices .block_invoices {
    width: 90%;
    display:block;
    margin-bottom: 25px;
    margin-top: 10px;
}

.block_enrol_invoices .block_invoices label.header_course {
    width: 95%;
    text-align: left;
    display:inline-block;
    color:  #757474;
    font:bold 12px Verdana,Verdana Pro,sans-serif;
    text-indent: 1px;
    cursor: default;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 25px;
    line-height: 25px;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.block_enrol_invoices .block_invoices .block_invoices_course {
    min-height: 30px;
    float: none;
}

.block_enrol_invoices .block_invoices .block_invoices_course_one {
    float:none;
    /* min-width: 35%;
    max-width: 35%;*/
    width: 50%;
    text-justify:inter-word;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 20px;
    border-bottom: 1px solid white;
    background-color:  #f2f2f2;
}

.block_enrol_invoices .block_invoices .block_invoices_course_two {
    float:none;
    /* min-width: 35%;
    max-width: 35%;*/
    width: 50%;
    text-justify:inter-word;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 10px;
    border-bottom: 1px solid white;
}

.block_enrol_invoices .block_invoices label.label_info_course {
    font:bold 12px Verdana,Verdana Pro,sans-serif;
    cursor: default;
    text-justify:inter-word;
    white-space: pre-line;
    word-break: break-all;
    padding-right: 5px;
    padding-top: 5px;
}

.block_enrol_invoices .block_invoices .info_course_value {
    font:12px Verdana,Verdana Pro,sans-serif;
    text-justify:inter-word;
    white-space: pre-line;
    word-break: break-all;
    padding-right: 5px;
    padding-top: 5px;
}

.block_enrol_invoices .block_invoices  table {
    width: 100%;
    border-collapse:collapse;
    margin-bottom: 0;
    display: table;
}

.block_enrol_invoices .block_invoices  tr.header_invoice {
    background-color:  #f2f2f2;
    color:  #000;
    padding: 0;
    margin-bottom: 0;
    font:bold 12px Verdana,Verdana Pro,sans-serif;
    border-bottom: 2px solid #d8d8d8;
    vertical-align: middle;
    height: 30px;
}

.block_enrol_invoices .block_invoices  td.user,
.block_enrol_invoices .block_invoices  th.user {
    width: 20%;
    text-align: left;
    text-justify:inter-word;
    padding: 0px 10px 0px 0px;
}

.block_enrol_invoices .block_invoices  th.info,
.block_enrol_invoices .block_invoices  td.info {
    width: 30%;
    text-align: left;
    text-justify:inter-word;
    padding: 0px 10px 0px 0px;
}

.block_enrol_invoices .block_invoices  th.email,
.block_enrol_invoices .block_invoices  td.email {
    width: 18%;
    text-align: left;
    text-justify:inter-word;
    padding: 0px 10px 0px 0px;
}

.block_enrol_invoices .block_invoices  th.type,
.block_enrol_invoices .block_invoices  td.type {
    width: 20%;
    text-align: left;
    text-justify:inter-word;
    padding: 0px 10px 0px 0px;
}

.block_enrol_invoices .block_invoices  th.seats,
.block_enrol_invoices .block_invoices  td.seats {
    width: 5%;
    text-align: center;
    text-justify:inter-word;
    padding: 0px 10px 0px 0px;
}

.block_enrol_invoices .block_invoices td.user,
.block_enrol_invoices .block_invoices td.info,
.block_enrol_invoices .block_invoices td.type,
.block_enrol_invoices .block_invoices td.seats {
    background-color: white;
    white-space: pre-line;
    word-break: break-all;
}

.link_search {
    margin-left: 245px;
}
.link_search_disabled {
    pointer-events: none;
    cursor: default;
    margin-left: 245px;
}

.fld_hidden {
    visibility: hidden;
}

@media (max-width: 767px) {
    .block_invoices,
    .block_enrol_invoices .block_invoices,
    .block_enrol_invoices .block_invoices  table {
        float: none;
        width: 90%;
        display: block;
        text-justify: inter-word;
        word-wrap: break-word;
    }

    /* Force table to not be like tables anymore */
    .block_enrol_invoices .block_invoices  tbody, tr, th, td {
        display: block;
    }

    .block_enrol_invoices .block_invoices table {
        display:block;
        background-color: white !important;
        width:100%;
    }

    .block_enrol_invoices .block_invoices table thead tr {
        display:none;
    }


    .block_enrol_invoices .block_invoices table tr {
        width: 100%;
        border: 1px solid darkgray;
        background-color: white !important;
        padding-bottom: 15px;
    }

    .block_enrol_invoices .block_invoices td {
        width:100%;
        border-top: 1px solid #f2f2f2;
    }

    .block_enrol_invoices .block_invoices table td.user,
    .block_enrol_invoices .block_invoices table td.info,
    .block_enrol_invoices .block_invoices table td.email,
    .block_enrol_invoices .block_invoices table td.seats,
    .block_enrol_invoices .block_invoices table td.type {
        /* Behave  like a "row" */
        position: relative;
        padding-left: 50%;
        padding-bottom: 0px;
        width: 40%;
        white-space: normal;
        text-align:left;
        background-color: white !important;
        display: inline-block;
        text-justify:inter-word;
        word-wrap: break-word;
    }

    .block_enrol_invoices .block_invoices table td.user:before,
    .block_enrol_invoices .block_invoices table td.info:before,
    .block_enrol_invoices .block_invoices table td.email:before,
    .block_enrol_invoices .block_invoices table td.seats:before,
    .block_enrol_invoices .block_invoices table td.type:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 5px;
        padding-bottom: 0px;
        text-align:left;
        text-justify:inter-word;
        word-wrap: break-word;
        font-weight: bold;
        background-color: white !important;
    }

    .block_enrol_invoices .block_invoices table td.user:before,
    .block_enrol_invoices .block_invoices table td.info:before,
    .block_enrol_invoices .block_invoices table td.email:before,
    .block_enrol_invoices .block_invoices table td.seats:before,
    .block_enrol_invoices .block_invoices table td.type:before {
        content:attr(data-th);
        background-color: white !important;
        text-justify:inter-word;
        word-wrap: break-word;
        color:  #000;
        font:bold 12px Verdana,Verdana Pro,sans-serif;
    }

}

@media (min-width: 850px) and (max-width: 978px) {
    .block_invoices,
    .block_enrol_invoices .block_invoices,
    .block_enrol_invoices .block_invoices  table {
        float: none;
        width: 100%;
        display: block;
    }
}

@media (min-width: 767px) and (max-width: 849px) {
    .block_invoices,
    .block_enrol_invoices .block_invoices,
    .block_enrol_invoices .block_invoices  table {
        float: none;
        width: 100%;
        display: block;
    }
}
